<div class="content page-insight">
    <h1 class="headline1">AI인사이트 <button type="button" class="insight-alram"><i class="icon-alram">알림받기 설정</i></a></h1>
    <p class="head-guidetext">AI가 데이터 속 트렌드를 읽고 핵심만 정리했어요</p>

    <div class="insight-header">
        <p class="header-title"><i class="month">N</i>월 Week <i class="week">N</i>, AI가 알아서 분석하고 요약했어요</p>
        
        
        <div class="insight-slider-wrap">
            <div class="swiper insight-slider">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="insight-slide">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="insight-slide">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="insight-slide">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="insight-slide">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="insight-slider-info">
                <div class="slider-info-wrpper">
                    <div class="info-slide current">
                        <p class="insight-tag">
                            <span class="tag">생활/문화</span>
                            <span class="tag original">BC Original</span>
                        </p>
                        <p class="title">111 ‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                        <p class="date">오늘</p>
                    </div>
                    <div class="info-slide">
                        <p class="insight-tag">
                            <span class="tag">생활/문화</span>
                        </p>
                        <p class="title">222</p>
                        <p class="date">2일전</p>
                    </div>
                    <div class="info-slide">
                        <p class="insight-tag">
                            <span class="tag">생활/문화</span>
                        </p>
                        <p class="title">333 ‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                        <p class="date">6일전</p>
                    </div>
                    <div class="info-slide">
                        <p class="insight-tag">
                            <span class="tag">생활/문화</span>
                            <span class="tag original">BC Original</span>
                        </p>
                        <p class="title">444</p>
                        <p class="date">2025.07.02</p>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
            
            <div class="swiper-scrollbar"></div>
            
            <div class="control-box">
                <button type="button" class="prev">이전 슬라이드</button>
                <button type="button" class="next">다음 슬라이드</button>
            </div>
        </div>
    </div>
    <!-- [AI인사이트] -->
    <div class="insight-contents" >
        <div class="contents-filter">
            <div class="chip-box">
                <label class="chip"><input type="radio" name="radio1" checked><i>전체</i></label>
                <label class="chip"><input type="radio" name="radio1"><i>생활/문화</i></label>
                <label class="chip"><input type="radio" name="radio1"><i>이슈/사회</i></label>
                <label class="chip"><input type="radio" name="radio1"><i>경제/정책</i></label>
                <label class="chip"><input type="radio" name="radio1"><i>비즈니스</i></label>
            </div>
        </div>
        <div class="contents-summary">
            <div class="page-select">
                <select>
                    <option value="">업데이트순</option>
                    <option value="">인기순</option>
                </select>
            </div>
        </div>
        <div class="contents-list-wrap">
            <ul class="contents-list">
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                                <span class="tag original">BC Original</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">오늘</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                                <span class="tag original">BC Original</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">2일전</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">3일전</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">4일전</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">5일전</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">6일전</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                            </p>
                            <p class="title">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
                            <p class="date">2025.07.02</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="ai-content">
                        <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                        <div class="info-box">
                            <p class="insight-tag">
                                <span class="tag">생활/문화</span>
                            </p>
                            <p class="title">커피는 줄었고 알코올은 늘었다.</p>
                            <p class="date">2025.07.02</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- //[AI인사이트] -->
</div>
<!-- //.content .page-partner -->