<div class="content page-insight">
    <!-- [AI인사이트] -->
    <div class="insight-view">
        <div class="view-info">
            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
            <div class="top">
                <span class="insight-tag">
                    <i class="txt">생활/문화</i>
                    <i class="tag original">BC Original</i>
                </span>
                <span class="date">오늘</span>
            </div>
            <p class="headline1">‘요즘 사람들’이 지갑 여는 키워드.zip</p>
            <div class="share">
                <button class="button-xsmall">공유하기<i class="icon-share"></i></button>
            </div>
        </div>

        <div class="view-paragraph">
            <p>분열된 결정은 경제적 불확실성을 반영한다</p>
            <p>RBA 이사회는 이번 결정에서 의견이 갈렸으며, 여섯 명의 위원이 금리를 동결하는 데 찬성했고 세 명은 인하를 지지했다고 처음으로 공개된 투표 기록에 따르면 밝혔다1. 미셸 불록 총재가 이끄는 이사회는 추가 인하에 앞서 추가적인 경제 데이터가 필요하다고 언급했다.</p>
            <p>"이사회는 인플레이션에 대한 위험이 보다 균형을 이루고 있으며 노동 시장이 여전히 강하다고 계속 판단하고 있습니다,"라고 RBA는 밝혔다2. "그럼에도 불구하고, 전체 수요와 공급 모두에 대한 불확실성이 높아진 점을 감안할 때 전망에 대해 신중한 태도를 유지하고 있습니다."</p>
            <p>이번 결정은 호주 통계청에 따르면 4월 2.4%에서 5월 2.1%로 헤드라인 인 플레이션이 하락하는 등 고무적인 인플레이션 데이터에도 불구하고 내려졌다3. RBA가 선호하는 지표인 근원 인플레이션(트림드 평균)은 2.4%로 떨어져 3년 반 만에 최저치를 기록했다.</p>
        </div>
    </div>

    <div class="insight-more">
        <div class="more-header">
            <p class="title3">지금 본 인사이트, 데이터로 더 깊이 보기</p>
            <p class="copy">인사이트 보고 관심 가질 만한 데이터에요</p>
            <a href="#" class="link">더 많은 데이터보기</a>
        </div>
        <div class="more-list">
            <ul> 
                <li>
                    <div class="data-card">
                        <p class="logo"></p>
                        <p class="title">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                        <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                        <div class="tag-list">
                            <p class="data-tag">
                                <span class="tag red">#분야</span>
                                <span class="tag red">#분야</span>
                                <span class="tag blue">#사용목적</span>
                                <span class="tag blue">#사용목적</span>
                            </p>
                        </div>
                        <p class="api"><a href="#" class="button-xsmall">API로 이용하기</a></p>
                    </div>
                </li>
                <li>
                    <div class="data-card">
                        <p class="logo"></p>
                        <p class="title">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                        <p class="price"><i class="num">4,160,000</i>원</p>
                        <div class="tag-list">
                            <p class="data-tag">
                                <span class="tag red">#분야</span>
                                <span class="tag red">#분야</span>
                                <span class="tag blue">#사용목적</span>
                                <span class="tag blue">#사용목적</span>
                            </p>
                        </div>
                        <p class="api"><a href="#" class="button-xsmall">API로 이용하기</a></p>
                    </div>
                </li>
                <li>
                    <div class="data-card">
                        <p class="logo"></p>
                        <p class="title">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                        <p class="price"><i class="num">4,160,000</i>원</p>
                        <div class="tag-list">
                            <p class="data-tag">
                                <span class="tag red">#분야</span>
                                <span class="tag red">#분야</span>
                                <span class="tag blue">#사용목적</span>
                                <span class="tag blue">#사용목적</span>
                            </p>
                        </div>
                        <p class="api"><a href="#" class="button-xsmall">API로 이용하기</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- //[AI인사이트] -->
</div>
<div class="bottom-box">
    <div class="button-box-large">
        <a href="#" class="button-q">목록으로 이동</a>
    </div>
</div>
<!-- //.content .page-partner -->