<div class="content page-aisearch">
    <div class="aisearch-header">
        <h1>AI의 편리함에, <br>데이터의 무결성을 더하다.</h1>
    </div>

    <div class="exquestion">
        <div class="exquestion-list">
            <a href="#">빽다방 태평로점 주요 고객이 누구야?</a>
            <a href="#">투썸플레이스 종각역점 재방문 고객 비중이 얼마나 돼?</a>
            <a href="#">이마트24 종로3가점 외지인 방문 비율은 얼마나 돼?</a>
            <a href="#">세븐일레븐 여의도역점의 지역내 직장인 방문 비중을 알고 싶어</a>
            <a href="#">CGV왕십리의 시간대별 매출 비중을 알고 싶어</a>
            <a href="#">파리바게트 성수역점의 고객 1인당 매출금액이 어느 정도야?</a>
            <a href="#">써브웨이 압구정역점의 결제 1건당 금액이 얼마야?</a>
            <a href="#">쉐이크쉑 강남대로점의 신규 방문 고객 비중은 많은</a>
            <a href="#">요즘 용산역 근처에서 20대에게 가장 인기있는 매장을 알려줘</a>
            <a href="#">신사역 가로수길에서 30대 남성에게 가장 인기 있는 매장을 알려줘 </a>
            <a href="#">합정 홈플러스의 40대 방문 비율을 알고 싶어</a>
            <a href="#">신촌 현대백화점 매출액 성장률이 어느 정도야?</a>
            <a href="#">롯데백화점 광복점의 고객수 성장률을 분석해줘</a>
            <a href="#">테라로사 경포호수점의 주요 방문 시간대가 언제일까?</a>
            <a href="#">롯데마트 부산점의 성별 고객 비율을 비교해줘</a>
            <a href="#">올리브영 강남 타운이 가장 붐비는 시간대가 언제일까?</a>
            <a href="#">대전 성심당 주말 매출 비율이 얼마나 될까?</a>
            <a href="#">여수시에서 관광객에게 가장 인기있는 카페가 어디야?</a>
            <a href="#">여수시에서 관광객에게 가장 인기있는 카페가 어디야?</a>
            <a href="#">뉴코아 아울렛 동수원점의 주말 주요 고객이 누구야?</a>
            <a href="#">GS25 의정스테이점의 매출이 가장 높은 요일은 언제일까?</a>
            <a href="#">경복궁역 근처에서 매출액 성장률이 가장 높은 식당을 분석해줘</a>
            <a href="#">혜화역 인근의 20대 매출 비중이 가장 높은 카페를 알려줘</a>
            <a href="#">대전에서 요즘 뜨고 있는 브런치카페 알려줘</a>
            <a href="#">이디야커피 광주상무롯데마트점의 아침시간대에 40대 매출 비중은 어느정도야?</a>
            <a href="#">이마트 울산점의 지역내 주민 방문 고객 비중이 알고 싶어</a>
            <a href="#">매머드 커피 판교역점의 직장인 매출 비중을 산출해줘</a>
            <a href="#">인천공항에서 매출액 성장률이 가장 높은 식당이 어딜까?</a>
            <a href="#">춘천에서 관광객이 가장 많이 방문했을 만한 매장을 추천해줘</a>
            <a href="#">베스킨라빈스 세종보람점 60대 방문 비중을 분석해줘</a>
        </div>
        <div class="exquestion-selection">
            <ul>
                <li>
                    <a href="#">
                        <h2>매장 분석</h2>
                        <p>매장의 매출, 방문자 수, 지역 특성 등 주요 데이터를 분석해요</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>지역내 업종 분석</h2>
                        <p>특정 지역 내 업종 분포, 업종별 트렌드 및 변화 양상을 분석해요</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>프랜차이즈 브랜드  분석</h2>
                        <p>프랜차이즈 브랜드별 출점 현황, 성장률, 입지 특성 등을 비교 분석해요</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="aisearch-bottom">
        <div class="search-area">
            <textarea name="" id="" placeholder="어떤 데이터가 궁금하세요?">

            </textarea>
        </div>
    </div>
</div>