<div class="content page-aisearch">
    <div class="aisearch-body">

        <div class="search-request">
            <div class="request-text">
                <p>강남구 주요 가맹점 방문자 수는 어떻게 되나요?</p>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
            </div>
        </div>

        <div class="search-request">
            <div class="answer-text">
                <p>안녕하세요. 강남구 주요 가맹점의 방문자 수는 서울시 유동인구 데이터, 카드사 소비 패턴, 그리고 민간 상권분석 데이터를 종합해 다음과 같이 분석할 수 있습니다. <br>2025년 1분기 기준, 강남구 전체 상권 방문자는 약 1,200만 명 수준입니다. 이 중 프랜차이즈(음식/카페/의류 등) 중심 가맹점 밀집 지역인 강남역, 삼성역, 신논현 일대가 전체 방문의 65% 이상을 차지합니다.</p>
            </div>
            <div class="contents">
                 <div class="graph">
                    <!-- dummy -->
                    <div style="height:300px; background: #aaa;">그래프</div>
                    <!-- //dummy -->
                </div>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
                <button type="button" class="icon-good">답변 좋아요</button>
                <button type="button" class="icon-bad">답변 별로에요</button>
            </div>
            <div class="feedback-modal">
                <div class="modal" tabindex="0">
                    <p class="modal-title">더 나은 답변을 위해, <br class="is-mobile">어떤 부분이 부족했는지 알려주세요.</p>
                    <div class="modal-content">
                        <div class="chip-box">
                            <label class="chip"><input type="radio" name="radio1"><i>부정확해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 부족해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 길어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>의도와 달라요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>이전 대화를 잊었어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>너무 오래 걸렸어요</i></label>
                        </div>
                    </div>
                    <button class="modal-close" type="button">닫기</button>
                </div>
            </div>
        </div>

        <div class="search-request">
            <div class="request-text">
                <p>같이 보면 좋을 정보나 콘텐츠 추천해줄 수 있나요?</p>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
            </div>
        </div>

        <div class="search-request">
            <div class="answer-text">
                <p>함께보면 좋을 AI인사이트 콘텐츠를 추천해드릴게요.</p>
            </div>
            <div class="contents">
                <div class="aisearch-slider-wrap" id="slider1">
                    <div class="swiper aisearch-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">왜 다들 신논현에 카페를 열까? 숫자로 보는 상권 왜 다들 신논현에 카페를 열까? 숫자로 보는 상권</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">매출, 인구, 경쟁도까지 수치로 정리한 신논현 리포트</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">매출, 인구, 경쟁도까지 수치로 정리한 신논현 리포트</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">왜 다들 신논현에 카페를 열까? 숫자로 보는 상권 왜 다들 신논현에 카페를 열까? 숫자로 보는 상권</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">매출, 인구, 경쟁도까지 수치로 정리한 신논현 리포트</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">매출, 인구, 경쟁도까지 수치로 정리한 신논현 리포트</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">왜 다들 신논현에 카페를 열까? 숫자로 보는 상권 왜 다들 신논현에 카페를 열까? 숫자로 보는 상권</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">매출, 인구, 경쟁도까지 수치로 정리한 신논현 리포트</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                                    <p class="txt">매출, 인구, 경쟁도까지 수치로 정리한 신논현 리포트</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                    <div class="control-box">
                        <button type="button" class="prev">이전 슬라이드</button>
                        <button type="button" class="next">다음 슬라이드</button>
                    </div>
                </div>
                <!-- 퍼블리싱 확인 -->
                <script>
                    $(function(){
                        fn_aisearchSlider('slider1');
                    });
                </script>
                <!-- //퍼블리싱 확인 -->
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
                <button type="button" class="icon-good">답변 좋아요</button>
                <button type="button" class="icon-bad">답변 별로에요</button>
            </div>
            <div class="feedback-modal">
                <div class="modal" tabindex="0">
                    <p class="modal-title">더 나은 답변을 위해, <br class="is-mobile">어떤 부분이 부족했는지 알려주세요.</p>
                    <div class="modal-content">
                        <div class="chip-box">
                            <label class="chip"><input type="radio" name="radio1"><i>부정확해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 부족해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 길어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>의도와 달라요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>이전 대화를 잊었어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>너무 오래 걸렸어요</i></label>
                        </div>
                    </div>
                    <button class="modal-close" type="button">닫기</button>
                </div>
            </div>
        </div>

        <div class="search-request">
            <div class="request-text">
                <p>해당 지역에 BC카드 가맹점이 있을까?</p>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
            </div>
        </div>

        <div class="search-request">
            <div class="answer-text">
                <p>네, 강남구의 BC카드 가맹점 정보는 다음과 같습니다.</p>
            </div>
            <div class="contents">
                <div class="aisearch-slider-wrap" id="slider2">
                    <div class="swiper aisearch-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="txt">브런치몽 신논현점</p>
                                    <p class="location">서울 강남구 신사동</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="txt">카페 드롭 신사점</p>
                                    <p class="location">서울 강남구 봉은사로</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="txt">테라로사 성수점 카페 드롭 신사점 브런치몽 신논현점 테라로사 성수점</p>
                                    <p class="location">서울 성동구 성수동2가</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="txt">브런치몽 신논현점</p>
                                    <p class="location">서울 강남구 신사동</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="txt">카페 드롭 신사점</p>
                                    <p class="location">서울 강남구 봉은사로</p>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="aisearch-slide">
                                    <p class="txt">테라로사 성수점 카페 드롭 신사점 브런치몽 신논현점 테라로사 성수점</p>
                                    <p class="location">서울 성동구 성수동2가</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                    <div class="control-box">
                        <button type="button" class="prev">이전 슬라이드</button>
                        <button type="button" class="next">다음 슬라이드</button>
                    </div>
                </div>
                <!-- 퍼블리싱 확인 -->
                <script>
                    $(function(){
                        fn_aisearchSlider('slider2');
                    });
                </script>
                <!-- //퍼블리싱 확인 -->
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
                <button type="button" class="icon-good">답변 좋아요</button>
                <button type="button" class="icon-bad">답변 별로에요</button>
            </div>
            <div class="feedback-modal">
                <div class="modal" tabindex="0">
                    <p class="modal-title">더 나은 답변을 위해, <br class="is-mobile">어떤 부분이 부족했는지 알려주세요.</p>
                    <div class="modal-content">
                        <div class="chip-box">
                            <label class="chip"><input type="radio" name="radio1"><i>부정확해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 부족해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 길어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>의도와 달라요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>이전 대화를 잊었어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>너무 오래 걸렸어요</i></label>
                        </div>
                    </div>
                    <button class="modal-close" type="button">닫기</button>
                </div>
            </div>
        </div>

        <div class="search-request">
            <div class="request-text">
                <p>관련된 뉴스기사도 찾아줄 수 있어요? 관련된 뉴스기사도 찾아줄 수 있어요? 관련된 뉴스기사도 찾아줄 수 있어요?</p>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
            </div>
        </div>

        <div class="search-request">
            <div class="answer-text">
                <p>관련된 뉴스 기사는 다음과 같습니다.</p>
            </div>
            <div class="contents">
                <ul class="link">
                    <li>
                        <p><a href="#" target="_blank">강남구, 공공배달앱 땡겨요 상품권 3월 22억 원 조기 발행</a></p>
                        <span class="source">gangna.go.kr</span>
                    </li>
                    <li>
                        <p><a href="#" target="_blank">명동 웃고 강남 울고...2025 뜨는 상권, 지는 상권</a></p>
                        <span class="source">sangga114.co.k</span>
                    </li>
                </ul>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
                <button type="button" class="icon-good">답변 좋아요</button>
                <button type="button" class="icon-bad">답변 별로에요</button>
            </div>
            <div class="feedback-modal">
                <div class="modal" tabindex="0">
                    <p class="modal-title">더 나은 답변을 위해, <br class="is-mobile">어떤 부분이 부족했는지 알려주세요.</p>
                    <div class="modal-content">
                        <div class="chip-box">
                            <label class="chip"><input type="radio" name="radio1"><i>부정확해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 부족해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 길어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>의도와 달라요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>이전 대화를 잊었어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>너무 오래 걸렸어요</i></label>
                        </div>
                    </div>
                    <button class="modal-close" type="button">닫기</button>
                </div>
            </div>
        </div>

        <div class="search-request">
            <div class="request-text">
                <p>회원가입은 어디서 해야해?</p>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
            </div>
        </div>

        <div class="search-request">

            <div class="contents">
                <!-- 스켈레톤 -->
                <div class="skeleton-box">
                    <div class="skeleton-text">
                        <div class="skeleton"></div>
                        <div class="skeleton"></div>
                        <div class="skeleton"></div>
                    </div>
                    <div class="skeleton-thumbs">
                        <span class="skeleton"></span>
                        <span class="skeleton"></span>
                        <span class="skeleton"></span>
                    </div>
                </div>
                <!-- //스켈레톤 -->
            </div>

            <div class="contents">
                <div class="request-list" id="accordion1">
                    <ul>
                        <li class="request-item">
                            <h3 class="request-title"><p>회원정보를 수정하려면 어떻게 하나요? 회원정보를 수정하려면 어떻게 하나요?</p></h3>
                            <div class="request-content">
                                <p>사이트 우측 [로그인] 버튼을 선택하여 진입 후,
                                [회원가입]버튼을 눌러 진행해주세요.

                                약관 동의 > 본인 인증 > 회원정보입력 > 이메일 인증 절차를 통해 가입이 완료됩니다.</p>
                            </div>
                        </li>
                        <li class="request-item">
                            <h3 class="request-title"><p>회원정보를 수정하려면 어떻게 하나요?</p></h3>
                            <div class="request-content">
                                <p>사이트 우측 [로그인] 버튼을 선택하여 진입 후,
                                [회원가입]버튼을 눌러 진행해주세요.

                                약관 동의 > 본인 인증 > 회원정보입력 > 이메일 인증 절차를 통해
                                가입이 완료됩니다.</p>
                            </div>
                        </li>
                        <li class="request-item">
                            <h3 class="request-title"><p>회원정보를 수정하려면 어떻게 하나요?</p></h3>
                            <div class="request-content">
                                <p>사이트 우측 [로그인] 버튼을 선택하여 진입 후,
                                [회원가입]버튼을 눌러 진행해주세요.

                                약관 동의 > 본인 인증 > 회원정보입력 > 이메일 인증 절차를 통해
                                가입이 완료됩니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <script>
                    $(function(){
                        fn_aisearchAccordion('accordion1');
                    });
                </script>
            </div>
            <div class="util">
                <button type="button" class="icon-copy">복사하기</button>
                <button type="button" class="icon-good">답변 좋아요</button>
                <button type="button" class="icon-bad">답변 별로에요</button>
            </div>
            <div class="feedback-modal">
                <div class="modal" tabindex="0">
                    <p class="modal-title">더 나은 답변을 위해, <br class="is-mobile">어떤 부분이 부족했는지 알려주세요.</p>
                    <div class="modal-content">
                        <div class="chip-box">
                            <label class="chip"><input type="radio" name="radio1"><i>부정확해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 부족해요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>답변이 길어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>의도와 달라요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>이전 대화를 잊었어요</i></label>
                            <label class="chip"><input type="radio" name="radio1"><i>너무 오래 걸렸어요</i></label>
                        </div>
                    </div>
                    <button class="modal-close" type="button">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-aisearch-bottom">
    <div class="search-area is-loading"><!-- 검색결과 로딩 중 -->
        <textarea placeholder="어떤 데이터가 궁금하세요?"></textarea>
        <button type="button">검색</button>
    </div>
    <div class="pop-aiside-button">
        <a href="#" class="buttons"><i class="txt">데이터 만들기</i></a>
    </div>
</div>

<!-- 퍼블리싱 확인 -->
<script>
$(function(){

    // fn_scrollBottom();

    const copyBtns = document.querySelectorAll('.search-request .util .icon-copy');
    copyBtns.forEach(function(copy){
        copy.addEventListener('click', function(){
            copy.classList.add('is-on');
            fn_toast('본문 내용이 복사되었습니다.',1);
            setTimeout(function(){
                copy.classList.remove('is-on');
            }, 2500);
        });
    });

    
    const goodBtns = document.querySelectorAll('.search-request .util .icon-good');
    goodBtns.forEach(function(good){
        good.addEventListener('click', function(){
            const bad = good.closest('.util').querySelector('.icon-bad');
            if (good.classList.contains('is-on')){
                good.classList.remove('is-on');
                bad.classList.remove('is-off');
            } else {
                good.classList.add('is-on');
                bad.classList.add('is-off');
            }
        });
    })

    const badBtns = document.querySelectorAll('.search-request .util .icon-bad');
    badBtns.forEach(function(bad){
        bad.addEventListener('click', function(){
            const good = bad.closest('.util').querySelector('.icon-good');
            const feedback = good.closest('.util').nextElementSibling;
            if (bad.classList.contains('is-on')){
                bad.classList.remove('is-on');
                good.classList.remove('is-off');
                feedback.classList.remove('is-show');
            } else {
                bad.classList.add('is-on');
                good.classList.add('is-off');
                feedback.classList.add('is-show');
            }
        });
    })
});

function fn_scrollBottom () {
    $(".page-aisearch").scrollTop($(".page-aisearch")[0].scrollHeight);
}
</script>