<div class="content page-datamarket">
    <h1 class="headline1">결제하기</h1>

    <!-- [데이터마켓] -->
    <div class="datamarket-pay">
        <div class="pay-items">
            <!-- 데이터마켓/ OPEN API -->
            <div class="item-group item-market">
                <div class="item-header">
                    <div class="summary">
                        <p>비씨카드 데이터거래사가 추천하는" 편의점 X BC카드 소비품목 결합 상품 비씨카드 데이터거래사가 추천하는" 편의점 X BC카드 소비품목 결합 상품</p>
                        <strong>3개</strong>
                    </div>
                    <div class="provider">BC카드</div>
                    <button type="button" class="icon-up">상세내용 접기</button>
                </div>
                <div class="item-body">
                    <div class="item">
                        <div class="flags">
                            <span class="flag data-market">데이터마켓</span>
                            <span class="flag data-type">CSV</span>
                            <span class="flag data-capa"><i>1.0</i> KB</span>
                        </div>
                        <div class="desc">
                            <p>카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 타이틀 다 나와야함.</p>
                        </div>
                        <p class="count"><i>500,000,000,000,000</i>원</p>
                    </div>
                    <div class="item">
                        <div class="flags">
                            <span class="flag data-openapi">OPEN API</span>
                            <span class="flag data-type">CSV</span>
                            <span class="flag data-capa"><i>1.0</i> KB</span>
                        </div>
                        <div class="desc">
                            <p>API데이터명</p>
                            <span class="useable">12개월</span>
                        </div>
                        <p class="count"><i>500,000,000,000,000</i>원</p>
                    </div>
                    <div class="item">
                        <div class="flags">
                            <span class="flag data-market">데이터마켓</span>
                            <span class="flag data-type">CSV</span>
                            <span class="flag data-capa"><i>1.0</i> KB</span>
                        </div>
                        <div class="desc">
                            <p>카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 타이틀 다 나와야함.</p>
                        </div>
                        <p class="count"><i>500,000,000,000,000</i>원</p>
                    </div>
                </div>
                <div class="item-bottom">
                    <dl>
                        <dt>상품 금액</dt>
                        <dd><i>500,000,000,000,000</i>원</dd>
                    </dl>
                    <dl>
                        <dt>할인 금액</dt>
                        <dd>
                            <div class="button-box-xsmall">
                                <button class="button-s">쿠폰 변경</button>
                            </div>
                        </dd>
                    </dl>
                    <dl class="apply-coupon">
                        <dt>첫구매 할인 10% (최대 20,000만원)</dt>
                        <dd><i>-15,000,000</i>원</dd>
                    </dl>
                    <dl>
                        <dt>구매 금액</dt>
                        <dd class="total"><i class="down-percent">10%</i><i>135,000,000</i>원</dd>
                    </dl>
                </div>
            </div>

            <!-- 데이터 폴리오 -->
            <div class="item-group item-polio">
                <div class="item-header">
                    <div class="summary">
                        <p>데이터폴리오 데이터셋명</p>
                    </div>
                    <div class="provider">BC카드</div>
                    <button type="button" class="icon-up">상세내용 접기</button>
                </div>
                <div class="item-body">
                    <div class="item">
                        <div class="flags">
                            <span class="flag data-polio">데이터폴리오</span>
                        </div>
                        <div class="desc">
                            <p>내국인 3개월 20행정동 5개분류 소비데이터</p>
                            <a href="#" class="button-xsmall">수정</a>
                        </div>
                    </div>
                    <div class="item">
                        <dl class="data-polio-set">
                            <dt>데이터 유형</dt>
                            <dd>
                                <button type="button" class="show-detail">상세보기<i class="icon-link"></i></button>
                                <span class="hash data">내국민 카드소비 데이터</span>
                            </dd>
                        </dl>
                        <dl class="data-polio-set">
                            <dt>기간</dt>
                            <dd>
                                <span class="hash data">#연도별</span>
                                <span class="data">2025.05.01~2025.05.31</span>
                            </dd>
                        </dl>
                        <dl class="data-polio-set">
                            <dt>지역</dt>
                            <dd>
                                <span class="hash data">#행정동</span>
                                <span class="data">서울특별시 강남구 개포1동</span>
                                <span class="data">서울특별시 강남구 개포2동</span>
                                <span class="data">서울특별시 강남구 개포2동</span>
                            </dd>
                        </dl>
                        <dl class="data-polio-set">
                            <dt>업종</dt>
                            <dd>
                                <span class="hash data">#소분류</span>
                                <span class="data">가전통신 > 가전 > 건강가전</span>
                                <span class="data">가전통신 > 가전 > 생활가전</span>
                                <span class="data">가전통신 > 가전 > 생활가전</span>
                            </dd>
                        </dl>
                        <p class="price"><i>500,000,000,000,000</i>원</p>
                    </div>
                    <div class="item2">
                        <div class="desc">
                            <p>AI 보고서</p>
                            <strong class="price"><i>0</i>원</strong>
                        </div>
                    </div>
                </div>
                <div class="item-bottom">
                    <dl>
                        <dt>상품 금액</dt>
                        <dd><i>500,000,000,000,000</i>원</dd>
                    </dl>
                    <dl>
                        <dt>할인 금액</dt>
                        <dd>
                            <div class="button-box-xsmall">
                                <button class="button-p">쿠폰 적용</button>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>구매 금액</dt>
                        <dd class="total"><i>135,000,000</i>원</dd>
                    </dl>
                </div>
            </div>

            <!-- 결제방법 -->
            <div class="item-pqyment">
                <p class="title">결제방법</p>
                <div class="chip-box chip-box-large">
                    <label class="chip"><input type="radio" name="radio1" checked=""><i>카드 결제</i></label>
                    <label class="chip"><input type="radio" name="radio1"><i>전자계약(카드결제)</i></label>
                    <label class="chip"><input type="radio" name="radio1"><i>전자계약(세금계산서)</i></label>
                </div>
                <div class="desc">
                    <p>전자계약은 법인회원 전용 기능입니다. 계약 체결 후 결제하는 방식으로, 회사 경비 처리가 필요한 경우에 사용됩니다. 이용하려면 법인회원 인증이 필요합니다.</p>
                    <div class="detail-info">
                        <div class="textbutton-box-xsmall">
                            <a href="#" class="textbutton-s underline">자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 최종 결제금액 -->
        <div class="pay-total">
            <div class="item-group">
                <div class="total-header">
                    <p class="title">최종 결제금액</p>
                    <dl>
                        <dt>상품 금액</dt>
                        <dd>150,000,000원</dd>
                    </dl>
                    <dl class="apply-coupon">
                        <dt>할인 금액</dt>
                        <dd><i>-15,430,000</i>원</dd>
                    </dl>
                </div>
                <div class="total-item">
                    <p>비씨카드 데이터거래사가 추천하는" 편의점 X BC카드 소비품목 결합 상품 글자수 50자까지</p>
                    <div class="coupon">
                        <div class="txt">
                            <p>첫구매 할인</p>
                            <p>10% 할인 (최대 20,000만원)</p>
                        </div>
                        <button type="button" class="item-del">쿠폰적용 해제</button>
                    </div>
                </div>
                <div class="total-item">
                    <p>데이터폴리오 데이터셋명</p>
                    <div class="coupon">
                        <div class="txt">
                            <p>첫구매 할인</p>
                            <p>20,000원</p>
                        </div>
                        <button type="button" class="item-del">쿠폰적용 해제</button>
                    </div>
                </div>
                <div class="total-count">
                    <dl>
                        <dt>총 결제 금액</dt>
                        <dd><i class="down-percent">9.9%</i><i>111,139,570,000</i>원</dd>
                    </dl>
                </div>
                <div class="total-terms">
                    <ul>
                        <li>
                            <label class="ipt-check-sub"><input type="checkbox" name="checkbox2"><i>[필수]구매할 데이터, 금액 등의 정보를 확인했으며, 아래에 동의합니다.<br>(전자상거래법 제8조 제2항)</i></label>
                        </li>
                        <li>
                            <label class="ipt-check-sub"><input type="checkbox" name="checkbox2"><i>[필수]정보 보안관리 약정서</i></label>
                            <span class="textbutton-box-xsmall">
                                <a href="#" class="textbutton-s underline">보기</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="button-box-large">
                    <button type="button" class="button-p">구매하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //[데이터마켓] -->
</div>

<div class="bottom-box is-pc">
    <div class="button-box-large">
        <a href="#" class="button-q">이전</a>
    </div>
</div>