<div class="content page-datamarket">
    <h1 class="headline1">데이터마켓</h1>
    <p class="head-guidetext">골라보기만 하면 끝! 데이터는 다 준비돼 있어요.</p>

    <!-- [데이터마켓] -->
    <div class="datamarket-contents">
        <form>
        <div class="search-data">
            <div class="input-box">
                <input type="text" class="ipt" placeholder="무슨 데이터가 필요하세요?">
                <span class="util-box">
                    <button class="ipt-clear">내용 지우기</button>
                    <button type="button" class="ipt-search"><i>검색</i></button>
                </span>
            </div>
            <div class="button-box-large">
                <button class="button-p">Filter</button>
            </div>
        </div>
        <div class="search-filter">
            <div class="filter-list">
                <span class="chip">서울<button type="button">삭제</button></span>
                <span class="chip">온라인<button type="button">삭제</button></span>
                <span class="chip">트렌드<button type="button">삭제</button></span>
            </div>
            <button type="button" class="icon-reload">삭제</button>
        </div>
        </form>
        
        <div class="contents-summary">
            <p class="title">데이터마켓 <strong>17</strong></p>
            <div class="page-select">
                <select>
                    <option value="10">최신순</option>
                    <option value="10">조회순</option>
                </select>
            </div>
            <a href="#">카드/리스트</a>
        </div>

        <div class="result-none">
            <p class="message">검색 결과가 없습니다</p>
            <p class="message-sub">검색하신 조건에 해당하는 게시물이 없습니다.<br> 조건을 기반으로 데이터를 직접 만들어보시겠어요?</p>
            <div class="button-box-small">
                <button type="button" class="button-s">데이터 등록</button>
            </div>
        </div>

        <div class="data-list">
            <ul class="col-3">
                <li>
                    <div class="data-card">
                        <p class="logo"></p>
                        <p class="title">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                        <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                        <div class="tag-list">
                            <p class="data-tag">
                                <span class="tag red">#분야</span>
                                <span class="tag red">#분야</span>
                                <span class="tag blue">#사용목적</span>
                                <span class="tag blue">#사용목적</span>
                            </p>
                        </div>
                        <p class="api"><a href="#" class="button-xsmall">API로 이용하기</a></p>
                    </div>
                </li>
                <li>
                    <div class="data-card">
                        <p class="logo"></p>
                        <p class="title">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                        <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                        <div class="tag-list">
                            <p class="data-tag">
                                <span class="tag red">#분야</span>
                                <span class="tag red">#분야</span>
                                <span class="tag blue">#사용목적</span>
                                <span class="tag blue">#사용목적</span>
                            </p>
                        </div>
                        <p class="api"><a href="#" class="button-xsmall">API로 이용하기</a></p>
                    </div>
                </li>
                <li>
                    <div class="data-card">
                        <p class="logo"></p>
                        <p class="title">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                        <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                        <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                        <div class="tag-list">
                            <p class="data-tag">
                                <span class="tag red">#분야</span>
                                <span class="tag red">#분야</span>
                                <span class="tag blue">#사용목적</span>
                                <span class="tag blue">#사용목적</span>
                            </p>
                        </div>
                        <p class="api"><a href="#" class="button-xsmall">API로 이용하기</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- //[데이터마켓] -->
</div>