<div class="content page-polio">
    <div class="content-head-btn">
        <div class="content-head">
            <h1 class="headline1">데이터폴리오</h1>
            <p class="head-guidetext">원하는 조건을 선택하면 맞춤형 데이터를 생성해드려요.</p>
        </div>
        <!-- 250818 임시저장 버튼 수정-->
        <div class="button-box-small">
            <button type="button" class="btn-ts">임시저장</button>
            <button type="button" class="count">7</button>
        </div>
         <!--//250818 임시저장 버튼 수정-->
    </div>             

    <div class="datapolio-search">
        <div class="input-box">
            <input type="text" class="ipt" placeholder="조건을 입력하면 AI가 자동 선택해드려요.">
            <span class="util-box">
                <button type="button" class="ipt-search"><i>검색</i></button>
            </span>
        </div>
    </div>

    <div class="datapolio-contents">
        <div class="content-step">
            <ul>
                <!-- [2025.09.04] 수정 : 버튼 태그 추가 -->
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">데이터유형</em>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">기간</em>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">지역</em>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">업종</em>
                        </span>
                    </button>
                </li>
                <li class="on" aria-selected="true">
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-txt">세부항목</em>
                        </span>
                    </button>
                </li>
                <!-- //[2025.09.04] 수정 : 버튼 태그 추가 -->
            </ul>
        </div>

        <div class="step-content">
            <p class="title3">추가적으로 필요한 세부항목을 선택해주세요.</p>
            <span class="info-txt">*다중선택 가능</span>
            <div class="accordion">
                <ul>
                    <li class="accordion-item active"><!-- [2025.09.04] 기본 활성화 -->
                        <div class="accordion-header">요일<button type="button">상세화면 닫기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active"><!-- [2025.09.04] 기본 활성화 -->
                        <div class="accordion-header">시간대<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active"><!-- [2025.09.04] 기본 활성화 -->
                        <div class="accordion-header">성별<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active"><!-- [2025.09.04] 기본 활성화 -->
                        <div class="accordion-header">연령대<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active"><!-- [2025.09.04] 기본 활성화 -->
                        <div class="accordion-header">가구유형<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active"><!-- [2025.09.04] 기본 활성화 -->
                        <div class="accordion-header">소득분위<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active">
                        <div class="accordion-header">소비자유형<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>평일</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox1"><i>주말</i></label>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item active">
                        <div class="accordion-header">대륙<button type="button">상세화면 열기</button></div>
                        <div class="accordion-content">
                            <div class="checkbox">
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>전체</i></label>          
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>아시아</i></label>  
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>중동</i></label>
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>아프리카</i></label>
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>유럽</i></label>
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>아메리카</i></label>
                                <label class="ipt-check-box"><input type="checkbox" name="checkbox2"><i>오세아니아</i></label>
                            </div>
                            <p class="info-text">대륙을 선택하면 대륙에 포함된 세부 국가 데이터도 함께 제공됩니다.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="datapolio-bottom">
    <div class="btn-filter">
        <button type="button" class="btn-icon-filter is-filter"><!--조건 있을 시 : is-filter-->
            <i>선택조건 있음</i>
        </button>
    </div>
    <div class="bottom-content">
        <div class="polio-quote">
            <div class="quote-box">
                <div class="quote-tit">
                    <span class="tit">견적</span>
                    <span class="sub">(VAT 포함)</span>
                    <button type="button" class="detail-info"><i class="icon-info-s">세부정보</i></button>
                </div>
                <div class="quote-result">
                    <span class="price">
                        <i>0</i>원
                    </span>
                    <span class="my-price">(나의 예상 구매 가격 <i>139,570,000</i>원)</span>
                </div>
            </div>
            <div class="textbutton-box-xsmall">
                <a href="#" class="textbutton-p underline disabled">샘플데이터 확인</a>
            </div>
        </div> 
        <div class="button-box-large">
            <button class="button-q" type="button">이전</button>
            <button class="button-p" type="button">데이터 구매하기</button>
            <a href="#" class="icon-cart"></a>
        </div>
    </div>
    </div>
    
</div>