[ {
    "mer_nm" : "십일번가주식회사",
    "purc_dv_val" : "재방문",
    "purc_dnx" : "1000 이하",
    "bizno" : "8158101244",
    "mer_dv_val" : "개인",
    "tpbuz_mcls_nm" : "가공식품",
    "tpbuz_lcls_nm" : "식품",
    "tpbuz_scls_nm" : "간식품",
    "strd_yymm" : "202201",
    "avg_purc_amt" : "48838",
    "url" : "-"
} ]