<div class="content page-datapartner">
    <h1 class="headline1">데이터파트너 신청</h1>
    <p class="head-guidetext">데이터파트너는 데이터를 직접 등록하고 운영할 수 있어요.</p>

    <div class="datapartner-contents">
        <!-- 데이터 파트너 신청 폼 -->
        <div class="regist-box">
            <form>
                <div class="condition">
                    <p class="input-title">기업명<span class="required">(필수)</span></p>
                    <div class="search-data">
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="기업 찾기 버튼을 클릭해 기업을 검색해주세요.">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                        <div class="button-box-large">
                            <button class="button-s">기업찾기</button>
                        </div>
                    </div>
                </div>

                <div class="condition-box">
                    <div class="condition">
                        <label for="" class="input-title">기업 이메일<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="기업 도메인 이메일을 입력해주세요.">
                            <span class="util-box button-box-xsmall">
                                <button class="ipt-clear">내용 지우기</button>
                                <button type="button" class="button-t">인증번호 전송</button>
                            </span>
                        </div>
                    </div>

                    <div class="condition">
                        <label for="" class="input-title">인증번호<span class="required">(필수)</span></label>
                        <div class="input-box is-focusin">
                            <input type="text" class="ipt" placeholder="숫자 6자리 입력" value="123455">
                            <span class="util-box button-box-xsmall">
                                <button class="ipt-clear">내용 지우기</button>
                                <strong class="ipt-count">02:59</strong>
                                <button type="button" class="button-t">인증번호 확인</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 인증번호 일치 -->
                <div class="condition-box">
                    <div class="condition">
                        <label for="" class="input-title">기업 이메일<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="기업 도메인 이메일을 입력해주세요.">
                            <span class="util-box button-box-xsmall">
                                <button class="ipt-clear">내용 지우기</button>
                                <button type="button" class="button-t">인증번호 전송</button>
                            </span>
                        </div>
                    </div>

                    <div class="condition">
                        <label for="" class="input-title">인증번호<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="숫자 6자리 입력" value="123455">
                            <span class="util-box button-box-xsmall">
                                <button class="ipt-clear">내용 지우기</button>
                                <button type="button" class="button-t disabled">인증번호 확인</button>
                            </span>
                        </div>
                        <p class="input-help">인증번호가 확인되었습니다.</p>
                    </div>
                </div>
                <!-- //인증번호 일치 -->

                <!-- 인증번호 불일치 -->
                <div class="condition-box">
                    <div class="condition">
                        <label for="" class="input-title">기업 이메일<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="기업 도메인 이메일을 입력해주세요.">
                            <span class="util-box button-box-xsmall">
                                <button class="ipt-clear">내용 지우기</button>
                                <button type="button" class="button-t">인증번호 전송</button>
                            </span>
                        </div>
                    </div>

                    <div class="condition">
                        <label for="" class="input-title">인증번호<span class="required">(필수)</span></label>
                        <div class="input-box is-error">
                            <input type="text" class="ipt" placeholder="숫자 6자리 입력" value="123455">
                            <span class="util-box button-box-xsmall">
                                <button class="ipt-clear">내용 지우기</button>
                                <button type="button" class="button-t">인증번호 확인</button>
                            </span>
                        </div>
                        <p class="input-help is-error">인증번호를 다시 확인해주세요.</p>
                    </div>
                </div>
                <!-- //인증번호 불일치 -->

                <div class="condition-box">
                    <div class="condition">
                        <label for="" class="input-title">담당부서<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="담당부서를 입력해주세요.">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                    </div>

                    <div class="condition">
                        <label for="" class="input-title">직급/직책<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="직급 또는 직책을 입력해주세요.">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="condition-box">
                    <div class="condition">
                        <label for="" class="input-title">예금주<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="예금주를 입력해주세요.">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                    </div>
                    <div class="condition">
                        <label for="" class="input-title">은행명<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="예금주를 입력해주세요.">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="condition-box">
                    <div class="condition">
                        <label for="" class="input-title">계좌번호<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="계좌번호는 숫자만 입력해 주세요. (‘-’ 제외)">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                    </div>
                    <div class="condition">
                        <label for="" class="input-title">세금계산서 발행 이메일<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" class="ipt" placeholder="세금계산서 발행 이메일을 입력해주세요.">
                            <span class="util-box">
                                <button class="ipt-clear">내용 지우기</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="condition">
                    <p class="input-title">통장사본<span class="required">(필수)</span></p>
                    <div class="input-file">
                        <div class="input-box">
                            <input type="file" id="fileAccount">
                            <input type="text" class="ipt" placeholder="파일을 등록하세요."  disabled id="fileAccountPath">
                        </div>
                        <div class="button-box-large">
                            <label type="button" class="button-s" for="fileAccount">파일 찾기</label>
                        </div>
                    </div>
                    <p class="info-text">파일 유형 : PDF, 파일 용량 : 50MB 이하</p>
                </div>

                <div class="condition">
                    <p class="input-title">통신판매업종신고증<span class="required">(필수)</span></p>
                    <div class="input-file">
                        <div class="input-box">
                            <input type="file" id="fileLicense">
                            <input type="text" class="ipt" placeholder="파일을 등록하세요."  disabled id="fileLicensePath">
                        </div>
                        <div class="button-box-large">
                            <label type="button" class="button-s" for="fileLicense">파일 찾기</label>
                        </div>
                    </div>
                    <p class="info-text">파일 유형 : PDF, 파일 용량 : 50MB 이하</p>
                </div>

                <div class="condition">
                    <p class="input-title">로고<span class="required">(필수)</span></p>
                    <div class="input-file">
                        <div class="input-box">
                            <input type="file" id="fileLogo">
                            <input type="text" class="ipt" placeholder="파일을 등록하세요."  disabled id="fileLogoPath">
                        </div>
                        <div class="button-box-large">
                            <label type="button" class="button-s" for="fileLogo">파일 찾기</label>
                        </div>
                    </div>
                    <p class="info-text">파일 유형 : PNG, 파일 용량 : 50MB 이하   이미지 권장 사이즈 : 가로*세로(96*96)px</p><!-- [2025.08.14 수정/추가] -->
                </div>

                <div class="agreement-terms">
                    <p class="title">약관동의</p>
                    <div class="agree-box">
                        <p class="agree-all"><label class="ipt-check"><input type="checkbox" name="checkbox1"><i>전체 동의</i></label></p>
                        <ul class="agree-list">
                            <li class="">
                                <label class="ipt-check-sub"><input type="checkbox" name="checkbox1"><i>[필수] 회원약관</i></label>
                                <a href="#" class="agreement-open">내용보기</a>
                            </li>
                            <li class="">
                                <label class="ipt-check-sub"><input type="checkbox" name="checkbox1"><i>[필수] 개인정보 수집/이용 필수동의</i></label>
                                <a href="#" class="agreement-open">내용보기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="bottom-box">
            <div class="button-box-large">
                <button type="button" class="button-q disabled">다음</button>
            </div>
        </div>
        <!-- //데이터 파트너 신청 폼 -->
         
        <!-- 데이터 파트너 신청 완료 -->
         <div class="result-complete">
            <p class="message">데이터 파트너 신청이 완료되었어요.</p>
            <p class="message-sub">승인인 결과는 이메일로 안내드릴게요.</p>
            <div class="button-box-small">
                <button type="button" class="button-t">마이페이지 바로가기</button>
            </div>
        </div>
        <!-- //데이터 파트너 신청 완료 -->
    </div>
    
    
</div>