<div class="content page-notice">
    <div class="content-head-btn">
        <div class="content-head">
            <h1 class="headline1">FAQ</h1>
            <p class="head-guidetext">자주 묻는 질문들을 모아뒀어요.</p>
        </div>
    </div>   
    <div class="input-box">
        <input type="text" class="ipt" placeholder="검색어를 입력해주세요.">
        <span class="util-box">
            <button class="ipt-clear">내용 지우기</button>
            <button type="button" class="ipt-search"><i>검색</i></button>
        </span>
    </div> 


    <!-- 검색결과 없을 경우 -->
    <div class="contents-summary">
        <p class="title">총 <strong>0</strong>건</p>
    </div>            
    <div class="result-none">
        <p class="message">검색 결과가 없습니다</p>
        <p class="message-sub">검색하신 조건에 해당하는 게시물이 없습니다.</p>
        <div class="button-box-small">
            <button type="button" class="button-t">목록으로 이동</button>
        </div>
    </div>
     <!-- //검색결과 없을 경우 -->
</div>