<div class="content page-mypage">
    <h1 class="headline1">장바구니</h1>
    <p class="head-guidetext">담아둔 데이터 상품을 여기서 확인할 수 있어요.</p>

    <div class="mycart-contents">
        <div class="datamarket-pay">
            <div class="pay-items">
                <div class="all-check">
                    <label class="ipt-check"><input type="checkbox"><i>전체선택</i></label>
                    <i class="icon-info-m">안내</i>
                </div>
                <!-- 데이터마켓 -->
                <div class="item-group item-market">
                    <div class="item-header">
                        <div class="summary">
                            <label class="ipt-check"><input type="checkbox"><i class="blind">선택</i></label>
                            <p>비씨카드 데이터거래사가 추천하는" 편의점 X BC카드 소비품목 결합 상품 비씨카드 데이터거래사가 추천하는" 편의점 X BC카드 소비품목 결합 상품</p>
                        </div>
                        <div class="provider">BC카드</div>
                        <button type="button" class="icon-up">상세내용 접기</button>
                    </div>
                    <div class="item-body">
                        <div class="item">
                            <label class="ipt-check"><input type="checkbox"><i class="blind">선택</i></label>
                            <div class="flags">
                                <span class="flag data-market">데이터마켓</span>
                                <span class="flag data-type">CSV</span>
                                <span class="flag data-capa"><i>1.0</i> KB</span>
                            </div>
                            <div class="desc">
                                <p>카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 타이틀 다 나와야함.</p>
                            </div>
                            <p class="count"><i>500,000,000,000,000</i>원</p>
                            <div class="button-box-small">
                                <button class="button-t" type="button">옵션 변경</button>
                            </div>
                        </div>
                        <div class="item">
                            <label class="ipt-check"><input type="checkbox"><i class="blind">선택</i></label>
                            <div class="flags">
                                <span class="flag data-market">데이터마켓</span>
                                <span class="flag data-type">CSV</span>
                                <span class="flag data-capa"><i>1.0</i> KB</span>
                            </div>
                            <div class="desc">
                                <p>카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 카드-편의점 품목별 소비데이터_샘플 타이틀 다 나와야함.</p>
                            </div>
                            <p class="count"><i>500,000,000,000,000</i>원</p>
                            <div class="button-box-small">
                                <button class="button-t" type="button">옵션 변경</button>
                            </div>
                        </div>
                    </div>
                    <div class="item-bottom">
                        <dl>
                            <dt>상품 금액</dt>
                            <dd><i>500,000,000,000,000</i>원</dd>
                        </dl>
                        <dl class="set-coupon">
                            <dt>할인 금액</dt>
                            <dd>
                                <span class="price"><i>0</i>원</span>
                                <div class="button-box-xsmall">
                                    <button class="button-p">쿠폰 적용</button>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>구매 금액</dt>
                            <dd class="total"><i>135,000,000</i>원</dd>
                        </dl>
                    </div>
                </div>

                <!-- 데이터 폴리오 -->
                <div class="item-group item-polio">
                    <div class="item-header">
                        <div class="summary">
                            <label class="ipt-check"><input type="checkbox"><i class="blind">선택</i></label>
                            <p>데이터폴리오 데이터셋명</p>
                        </div>
                        <button type="button" class="icon-up">상세내용 접기</button>
                    </div>
                    <div class="item-body">
                        <div class="item">
                            <div class="flags">
                                <span class="flag data-polio">데이터폴리오</span>
                            </div>
                            <div class="desc">
                                <p>내국인 3개월 20행정동 5개분류 소비데이터</p>
                            </div>
                            <p class="price"><i>500,000,000,000,000</i>원</p>
                        {# </div>
                        <div class="item"> #}
                            <dl class="data-polio-set">
                                <dt>데이터 유형</dt>
                                <dd>
                                    <button type="button" class="show-detail">상세보기<i class="icon-link"></i></button>
                                    <span class="hash data">내국민 카드소비 데이터</span>
                                </dd>
                            </dl>
                            <dl class="data-polio-set">
                                <dt>기간</dt>
                                <dd>
                                    <span class="hash data">#연도별</span>
                                    <span class="data">2025.05.01~2025.05.31</span>
                                </dd>
                            </dl>
                            <dl class="data-polio-set">
                                <dt>지역</dt>
                                <dd>
                                    <span class="hash data">#행정동</span>
                                    <span class="data">서울특별시 강남구 개포1동</span>
                                    <span class="data">서울특별시 강남구 개포2동</span>
                                    <span class="data">서울특별시 강남구 개포2동</span>
                                </dd>
                            </dl>
                            <dl class="data-polio-set">
                                <dt>업종</dt>
                                <dd>
                                    <span class="hash data">#소분류</span>
                                    <span class="data">가전통신 > 가전 > 건강가전</span>
                                    <span class="data">가전통신 > 가전 > 생활가전</span>
                                    <span class="data">가전통신 > 가전 > 생활가전</span>
                                </dd>
                            </dl>
                            <div class="button-box-small">
                                <button class="button-t" type="button">옵션 변경</button>
                            </div>
                        </div>
                    </div>
                    <div class="item-bottom">
                        <dl>
                            <dt>상품 금액</dt>
                            <dd><i>500,000,000,000,000</i>원</dd>
                        </dl>
                        <dl class="set-coupon">
                            <dt>할인 금액</dt>
                            <dd>
                                <span class="price"><i>-430,000</i>원</span>
                                <div class="button-box-xsmall">
                                    <button class="button-s">쿠폰 변경</button>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>구매 금액</dt>
                            <dd class="total"><i class="down-percent">10%</i><i>135,000,000</i>원</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <!-- 최종 결제금액 -->
            <div class="pay-total">
                <div class="item-group">
                    <div class="total-header">
                        <p class="title">최종 결제금액</p>
                        <dl>
                            <dt>상품 금액</dt>
                            <dd>150,000,000원</dd>
                        </dl>
                        <dl class="apply-coupon">
                            <dt>할인 금액</dt>
                            <dd><i>-15,430,000</i>원</dd>
                        </dl>
                    </div>
                    <div class="total-count">
                        <dl>
                            <dt>총 결제 금액</dt>
                            <dd><i class="down-percent">9.9%</i><i>111,139,570,000</i>원</dd>
                        </dl>
                    </div>
                    <div class="button-box-large">
                        <button type="button" class="button-p"><i class="price">54,570,000원</i>(<i class="count">3개</i>) 구매하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>