        <p class="guide-title">새롭게 사용할 <br class="is-mobile">비밀번호를 입력해주세요.</p>
        <form>
            <label for="password" class="input-title">새 비밀번호</label>
            <div class="input-box">
                <input type="password" placeholder="새 비밀번호 입력" name="password">
                <span class="util-box">
                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
                </span>
            </div>
            <p class="input-help">비밀번호는 영문/숫자/특수문자를 조합하여 8자 이상으로 입력해주세요.</p>
            <p class="input-help is-error">비밀번호는 영문/숫자/특수문자를 조합하여 8자 이상으로 입력해주세요.</p>
            <p class="input-help is-error">비밀번호를 입력해주세요.</p>
            <p class="input-help is-error">생년월일이 포함된 비밀번호는 사용할 수 없어요.</p><!-- [2025.09.11] 추가 -->

            
            <label for="password" class="input-title">새 비밀번호 확인</label>
            <div class="input-box">
                <input type="password" placeholder="새 비밀번호 재입력" name="password">
                <span class="util-box">
                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
                </span>
            </div>
            <p class="input-help is-error">비밀번호를 한번 더 입력해주세요.</p>
            <p class="input-help is-error">입력하신 비밀번호와 일치하지 않습니다.</p>
        </form>