<div class="content page-join">
    <h1 class="headline1">회원가입</h1>
    <p class="welcome-copy">금융 빅데이터플랫폼에 회원가입하고 <br>다양한 데이터 서비스를 이용해보세요.</p>
    <div class="step-box">
        <ol class="step">
            <li class="done">
                <span class="num">1</span>
                <span class="txt">약관동의</span>
            </li>
            <li class="current">
                <span class="num">2</span>
                <span class="txt">정보입력</span>
            </li>
            <li>
                <span class="num">3</span>
                <span class="txt">가입완료</span>
            </li>
        </ol>
    </div>

    <div class="infobox">
        <dl>
            <dt>이름</dt>
            <dd>홍길동</dd>
        </dl>
        <dl>
            <dt>생년월일</dt>
            <dd>1998.05.31</dd>
        </dl>
        <dl>
            <dt>휴대폰번호</dt>
            <dd>010-1234-5678</dd>
        </dl>
    </div>
    <div class="formbox">
        <form>
            <label for="id" class="input-title">아이디(E-mail)</label>
            <div class="input-box">
                <input type="text" placeholder="이메일 아이디 입력" name="id">
                <span class="util-box button-box-xsmall">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <a href="#" type="button" class="button-t">인증번호 전송</a>
                </span>
            </div>
            <p class="input-help is-pass">사용가능한 아이디에요.</p>
            <p class="input-help is-error">이메일을 입력해주세요.</p>
            <p class="input-help is-error">이메일 형식으로 입력해주세요.</p>

            <label for="passnum" class="input-title">인증번호</label>
            <div class="input-box">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <strong class="ipt-count">02:59</strong>
                </span>
            </div>
            <div class="input-box is-error">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <strong class="ipt-count">02:59</strong>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" disabled maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                </span>
            </div>
            
            <label for="password" class="input-title">비밀번호</label>
            <div class="input-box">
                <input type="password" placeholder="비밀번호 입력" name="password">
                <span class="util-box">
                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
                </span>
            </div>
            <p class="input-help">비밀번호는 영문/숫자/특수문자를 조합하여 8자 이상으로 입력해주세요.</p>
            <p class="input-help is-error">비밀번호는 영문/숫자/특수문자를 조합하여 8자 이상으로 입력해주세요.</p>
            <p class="input-help is-error">비밀번호를 입력해주세요.</p>

            
            <label for="password" class="input-title">비밀번호 확인</label>
            <div class="input-box">
                <input type="password" placeholder="비밀번호 재입력" name="password">
                <span class="util-box">
                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
                </span>
            </div>
            <p class="input-help is-error">비밀번호를 한번 더 입력해주세요.</p>
            <p class="input-help is-error">입력하신 비밀번호와 일치하지 않습니다.</p>
        </form>
    </div>
</div>
    
<div class="bottom-box">
    <div class="button-box-large">
        <button type="button" class="button-p" disabled>다음</button>
    </div>
</div>