    <form>
        <label for="id" class="input-title">이름</label>
        <div class="input-box is-error">
            <input type="text" placeholder="이름 입력" name="id">
            <span class="util-box">
                <a href="#" class="ipt-clear">내용 지우기</a>
            </span>
        </div>
        <p class="input-help is-error">이름을 입력해주세요.</p>

        <label for="password" class="input-title">휴대폰번호</label>
        <div class="input-box">
            <input type="text" placeholder="휴대폰번호 입력" name="password">
            <span class="util-box">
                <a href="#" class="ipt-clear">내용 지우기</a>
            </span>
        </div>
        <p class="input-help is-error">휴대폰번호를 입력해주세요.</p>
        <p class="input-help is-error">휴대폰번호는 숫자 10~11자리로 입력해주세요.</p>
    </form>