        <form>
            <label for="id" class="input-title">아이디(E-mail)</label>
            <div class="input-box">
                <input type="text" placeholder="이메일 아이디 입력" name="id">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                </span>
            </div>
            <p class="input-help is-error">이메일을 입력해주세요.</p>
            <p class="input-help is-error">이메일 형식으로 입력해주세요.</p>

            <label for="phone" class="input-title">휴대폰번호</label>
            <div class="input-box">
                <input type="text" placeholder="휴대폰번호 입력" name="phone">
                <span class="util-box button-box-xsmall">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <a href="#" type="button" class="button-t disabled">인증번호 전송</a>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="휴대폰번호 입력" name="phone" value="01012345678">
                <span class="util-box button-box-xsmall">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <a href="#" type="button" class="button-t">인증번호 전송</a>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="휴대폰번호 입력" name="phone1" value="01012345678">
                <span class="util-box button-box-xsmall">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <a href="#" type="button" class="button-t">재전송</a>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="휴대폰번호 입력" name="phone2" disabled value="01012345678">
                <span class="util-box button-box-xsmall">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <a href="#" type="button" class="button-t disabled">재전송</a>
                </span>
            </div>
            <p class="input-help is-error">휴대폰번호를 입력해주세요.</p>
            <p class="input-help is-error">휴대폰번호는 숫자 10~11자리로 입력해주세요.</p>

            <label for="passnum" class="input-title">인증번호</label>
            <div class="input-box">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <strong class="ipt-count">02:59</strong>
                </span>
            </div>
            <div class="input-box is-error">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6">
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                    <strong class="ipt-count">02:59</strong>
                </span>
            </div>
            <div class="input-box">
                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6" disabled>
                <span class="util-box">
                    <a href="#" class="ipt-clear">내용 지우기</a>
                </span>
            </div>
            <p class="input-help is-error">인증번호를 입력해주세요.</p>
            <p class="input-help is-error">인증번호 6자리를 입력해주세요.</p>
            <p class="input-help is-error">인증시간이 초과했습니다. 다시 전송 후 진행해주세요.</p>
            <p class="input-help is-error">인증번호를 다시 확인해주세요.</p><!-- [2025.09.11] 추가 -->
        </form>