<div class="content page-mypage">
    <h1 class="headline1">마이페이지</h1>
    <p class="head-guidetext">필요한 모든 관리가, 이 한 곳에.</p>
    <div class="head-float-menu">
        <div class="switch-box">
            <ul class="switch">
                <li class="is-on"><a href="#">MY PAGE</a></li>
                <li><a href="#">MY COMPANY </a></li> 
            </ul>
        </div>
    </div>

    <div class="partner-header">
        <div class="info-box">
            <p class="name">매그넘빈트(김*진님)</p>
            <p class="email">ky******@mvint.co.kr</p>
        </div>
        <div class="link-box">
            <a href="#" class="link">장바구니</a>
            <a href="#" class="link">쿠폰</a>
            <a href="#" class="link">문의하기</a>
        </div>
    </div>
    <div class="tab-box">
        <ul class="tabs">
            <li><a href="#">구매 내역</a></li>
            <li class="is-on"><a href="#">문의 내역</a></li>
        </ul>
    </div>

    <!-- [마이페이지 > 문의 내역 -->
    <div class="mypage-contents">
        <div class="contents-messege">
            <p>문의 내역과 답변을 한눈에 확인해보세요.</p>
        </div>

        <!-- 문의 내역 없는 경우 -->
        <div class="contents-summary">
            <p class="title">내역 <strong>0</strong></p>
        </div>
        <div class="result-none">
            <p class="message">문의하신 내역이 없어요.</p>
            <p class="message-sub">궁금하신 내용이 있으시면 <br>언제든지 문의주세요.</p>
            <div class="button-box-small">
                <button type="button" class="button-t">문의하기</button>
            </div>
        </div>
        <!-- //문의 내역 없는 경우 -->


        <div class="contents-summary">
            <p class="title">내역 <strong>17</strong></p>
        </div>

        <div class="contents-date">
            <p class="date">2025.06.25</p>
        </div>

        <div class="question">
            <div class="question-items">

            </div>
        </div>

    </div>
    <!-- //[마이페이지 > 문의 내역 -->
</div>
<!-- //.content .page-mypage -->