<div class="content page-login">
    <h1 class="headline1">로그인</h1>
    <div class="formbox">
    <form>
        <label for="id" class="input-title">아이디</label>
        <div class="input-box is-error">
            <input type="text" placeholder="이메일 아이디 입력" name="id">
            <span class="util-box">
                <a href="#" class="ipt-clear">내용 지우기</a>
            </span>
        </div>
        <p class="input-help is-error">아이디를 입력해주세요.</p>
        <p class="input-help is-error">이메일 형식으로 입력해주세요.</p>

        <label for="password" class="input-title">비밀번호</label>
        <div class="input-box">
            <input type="password" placeholder="비밀번호 입력" name="password">
            <span class="util-box">
                <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
            </span>
        </div>
        <p class="input-help is-error">비밀번호를 입력해주세요.</p>

        <p class="login-util is-pc">
            <label class="ipt-check-small">
                <input type="checkbox" name="checkbox1">
                <i>아이디 저장</i>
            </label>
            <span class="textbutton-box-xsmall">
                <a href="#" class="textbutton-s">아이디 찾기</a>
                <a href="#" class="textbutton-s">비밀번호 찾기</a>
            </span>
        </p>
        <p class="login-util is-mobile">
            <label class="ipt-check-small">
                <input type="checkbox" name="checkbox1">
                <i>자동 로그인</i>
            </label>
        </p>

        <div class="button-box-large">
            <button type="button" class="button-p">로그인</button>
        </div>
    </form>
    </div>
    <p class="member-join is-pc">
        <span class="copy">아직 회원이 아니신가요?</span>
        <a href="#" class="textbutton-p">회원가입</a>
    </p>
</div>

<!-- mobile only -->
<div class="bottom-box is-mobile">
    <div class="textbutton-box-xsmall">
        <a href="#" class="textbutton-s">아이디 찾기</a>
        <a href="#" class="textbutton-s">비밀번호 찾기</a>
        <a href="#" class="textbutton-p">회원가입</a>
    </div>
</div>