<div class="content page-mypage">
    <h1 class="headline1">개인정보수정</h1>
    <p class="head-guidetext">내 정보, 직접 수정하고 관리하세요.</p>

    <div class="myinfo-contents">
        <form>
            <div class="myinfo-box">
                <h3 class="title">내 프로필</h3>
                <dl class="info">
                    <dt>이름</dt>
                    <dd><span class="description">김*진</span></dd>
                </dl>
                <dl class="info">
                    <dt>아이디(이메일)</dt>
                    <dd><span class="description">ky******@mvint.co.kr</span></dd>
                </dl>
                <dl class="info">
                    <dt>휴대폰번호</dt>
                    <dd><span class="description">010-51**-****<span></dd>
                    <dd class="btn">
                        <div class="button-box-small">
                            <button class="button-s" type="button">변경 하기</button>
                        </div>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>비밀번호</dt>
                    <dd class="btn">
                        <div class="button-box-small">
                            <button class="button-s" type="button">비밀번호 변경하기</button>
                        </div>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>기업</dt>
                    <dd class="btn">
                        <div class="button-box-small">
                            <button class="button-s" type="button">등록 하기</button>
                        </div>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>기업</dt>
                    <dd class="items"><span class="flag-stat stat-none">승인대기중</span><span class="description">매그넘빈트</span></dd>
                </dl>
                <dl class="info">
                    <dt>기업</dt>
                    <dd class="items"><span class="flag-stat stat-reject">반려</span><a href="#" class="description">매그넘빈트<i class="icon-info-m">기업등록 반려 사유 보기</i></a></dd>
                    <dd class="btn">
                        <div class="button-box-small">
                            <button class="button-s" type="button">수정하기</button>
                        </div>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>기업</dt>
                    <dd class="items"><span class="description">매그넘빈트</span></dd>
                    <dd class="btn">
                        <div class="button-box-small">
                            <button class="button-s" type="button">변경하기</button>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="myinfo-box">
                <h3 class="title">광고, 마케팅 수신 동의</h3>
                <dl class="info">
                    <dt>마케팅 목적의 수집 및 이용 동의<br class="is-mobile">
                        <button type="button" class="button-xsmall">상세 보기</button>
                    </dt>
                    <dd>
                        <div class="switch-box">
                            <input type="checkbox" id="switch1" role="switch" aria-label="활성화 여부" checked>
                            <label for="switch1" class="switch">
                                <i class="slider"></i>
                            </label>
                            <span class="switch-label off" aria-hidden="true">미동의</span>
                            <span class="switch-label on" aria-hidden="true">동의</span>
                        </div>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>SMS 수신여부(마케팅 수신채널)
                        <p><span class="sub-txt">SMS 수신동의일 2025.05.24</span></p>
                    </dt>
                    <dd>
                        <div class="switch-box">
                            <input type="checkbox" id="switch2" role="switch" aria-label="SMS 수신 여부" checked>
                            <label for="switch2" class="switch">
                                <i class="slider"></i>
                            </label>
                            <span class="switch-label off" aria-hidden="true">수신 안함</span>
                            <span class="switch-label on" aria-hidden="true">수신 동의</span>
                        </div>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>Email 수신여부(마케팅 수신채널)
                        <p><span class="sub-txt">SMS 수신동의일 2025.05.24</span></p>
                    </dt>
                    <dd>
                        <div class="switch-box">
                            <input type="checkbox" id="switch3" role="switch" aria-label="Email 수신 여부" checked>
                            <label for="switch3" class="switch">
                                <i class="slider"></i>
                            </label>
                            <span class="switch-label off" aria-hidden="true">수신 안함</span>
                            <span class="switch-label on" aria-hidden="true">수신 동의</span>
                        </div>
                    </dd>
                </dl>
                <p class="info-text">당사가 제공하는 유익한 서비스나 제휴혜택, 상품등을 선택하신 채널을 통해 안내 받으실 수 있습니다. 마케팅 수신여부에 동의하지 않더라도 서비스 이용에 제약은 없습니다.</p>
            </div>

            <div class="myinfo-box">
                <h3 class="title">계약서</h3>
                <p class="info-tit">
                    데이터 공급 기본계약서
                    <button type="button" class="button-xsmall">상세 보기</button>
                </p>
            </div>
        </form>
    </div>

    <div class="button-box-large">
        <button class="button-t" type="button">회원 탈퇴</button>
    </div>
</div>