{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-datacontest">
    <!-- [데이터경진대회] -->
    <div class="datacontest-view">
        <div class="ai-content">
            <p class="image"><img src="../images/dummy-contest1-1000x280.png" alt="이미지"></p>
            <div class="info-box-view closed">
                <p class="host">
                    <span class="logo"><img src="../images/logo-bc-20x20.png" alt=""></span>
                    <span class="company">비씨카드</span>
                </p>
                <p class="title">Boost up AI 2025 : 신약 개발 경진대회 Boost up AI 2025 : 신약 개발 경진대회</p>
                <div class="button-box-large">
                    <button type="button" class="button-t">공유하기</button>
                    <button type="button" class="button-p">연습하기</button>
                </div>
            </div>
            <div class="info-box-view closed">
                <p class="host">
                    <span class="logo"><img src="../images/logo-bc-20x20.png" alt=""></span>
                    <span class="company">비씨카드</span>
                </p>
                <p class="title">Boost up AI 2025 : 신약 개발 경진대회 Boost up AI 2025 : 신약 개발 경진대회</p>
                <div class="button-box-large">
                    <button type="button" class="button-t">공유하기</button>
                    <button type="button" class="button-p" disabled>참가중</button>
                </div>
            </div>
        </div>

        <div class="tab-box is-static">
            <ul class="tabs">
                <li class="is-on"><a href="#tabContentContest1">대회안내</a></li>
                <li><a href="#tabContentContest2">데이터</a></li>
                <li><a href="#tabContentContest3">리더보드</a></li>
                <li><a href="#tabContentContest4">제출</a></li>
            </ul>
        </div>
        
        <!-- 대회안내 -->
        <div class="tab-contents" aria-role="tabpanel" id="tabContentContest1" tabindex="0">
            <!-- dummy -->
            <div style="background-color: #aaa; height: 500px;">
                <h2 class="content-title">대회안내</h2>
                <p>
                    관리자 호출 영역<br>(관리자 경로 TBD)
                </p>
            </div>
            <!-- //dummy -->
        </div>

        <!-- 데이터 -->
        <div class="tab-contents" aria-role="tabpanel" id="tabContentContest2" tabindex="0" style="display:none;">
            <h2 class="content-title">데이터 설명</h2>
            <!-- dummy -->
            <div style="background-color: #aaa; height: 500px;">
                <p>
                    관리자 호출 영역<br>(관리자 경로 TBD)
                </p>
            </div>
            <!-- //dummy -->

            <h2 class="content-title">데이터</h2>
            <div class="tab-box">
                <ul class="tabs-sub-small">
                    <li class="is-on"><a href="#tabContentContest2_1">분석용 파일1</a></li>
                    <li><a href="#tabContentContest2_2">분석용 파일2</a></li>
                    <li><a href="#tabContentContest2_3">분석용 파일3</a></li>
                </ul>
            </div>
            <div class="tabs-sub-contents">
                <div class="tab-contents" aria-role="tabpanel" id="tabContentContest2_1" tabindex="0">
                    <div class="table">
                        <table summary="분석용 파일 정보 테이블">
                            <colgroup>
                                <col width="*" style="min-width:100px;">
                                <col width="160px" style="min-width:100px;">
                                <col width="160px" style="min-width:100px;">
                                <col width="210px" style="min-width:100px;">
                                <col width="210px" style="min-width:100px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>분야</th>
                                    <th>조회수</th>
                                    <th>다운로드수</th>
                                    <th>결제건수</th>
                                    <th>판매금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-contents" aria-role="tabpanel" id="tabContentContest2_2" tabindex="0" style="display:none;">
                    <div class="table">
                        <table summary="분석용 파일 정보 테이블">
                            <colgroup>
                                <col width="*" style="min-width:100px;">
                                <col width="160px" style="min-width:100px;">
                                <col width="160px" style="min-width:100px;">
                                <col width="210px" style="min-width:100px;">
                                <col width="210px" style="min-width:100px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>분야2</th>
                                    <th>조회수2</th>
                                    <th>다운로드수2</th>
                                    <th>결제건수2</th>
                                    <th>판매금액2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-contents" aria-role="tabpanel" id="tabContentContest2_3" tabindex="0" style="display:none;">
                    <div class="table">
                        <table summary="분석용 파일 정보 테이블">
                            <colgroup>
                                <col width="*" style="min-width:100px;">
                                <col width="160px" style="min-width:100px;">
                                <col width="160px" style="min-width:100px;">
                                <col width="210px" style="min-width:100px;">
                                <col width="210px" style="min-width:100px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>분야3</th>
                                    <th>조회수3</th>
                                    <th>다운로드수3</th>
                                    <th>결제건수3</th>
                                    <th>판매금액3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                                <tr>
                                    <td>여행</td>
                                    <td>452</td>
                                    <td>452</td>
                                    <td>231,321</td>
                                    <td class="right">12,313,131원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-box-small">
                    <button type="button" class="button-s right-btn">다운로드<i class="icon-download icon-right"></i></button>
                </div>
            </div>
        </div>

        <!-- 리더보드 -->
        <div class="tab-contents" aria-role="tabpanel" id="tabContentContest3" tabindex="0" style="display:none;">

            <!-- [Case.로그인 && 참가 && 제출] -->
            <div class="leaderboad">
                <div class="message">
                    <p class="current">2025년 07월 01일 13:00 기준 <button type="button" class="icon-reload">새로고침</button></p>
                    <p class="myscore">지금 내 점수는 <br><em>0.75321</em>이에요.</p>
                </div>
                <div class="score">
                    <dl>
                        <dt>내 제출수</dt>
                        <dd>4</dd>
                    </dl>
                    <p class="guide-text"><i class="icon-info-s" aria-hidden="true"></i>종료된 대회지만 연습용으로 계속 참가할 수 있어요.</p>
                </div>
                <div class="button-box-medium">
                    <button type="button" class="button-p">제출하기</button>
                </div>
            </div>

            <!-- [Case.로그인 && 참가 && 미제출] -->
            <div class="leaderboad">
                <div class="message">
                    <p class="myscore">아직 제출한 내역이 없어요. <br>대회에 참가하고 순위를 확인해보세요!</p>
                </div>
                <div class="score">
                    <p class="guide-text"><i class="icon-info-s" aria-hidden="true"></i>종료된 대회지만 연습용으로 계속 참가할 수 있어요.</p>
                </div>
                <div class="button-box-medium">
                    <button type="button" class="button-p">제출하기</button>
                </div>
            </div>

            <!-- [Case.로그인 && 미참가] -->
            <div class="leaderboad">
                <div class="message">
                    <p class="myscore">당신의 데이터 분석 실력을 증명할 시간! <br>지금 바로 대회에 참가해보세요.</p>
                </div>
                <div class="score">
                    <p class="guide-text"><i class="icon-info-s" aria-hidden="true"></i>종료된 대회지만 연습용으로 계속 참가할 수 있어요.</p>
                </div>
                <div class="button-box-medium">
                    <button type="button" class="button-p">연습하기</button>
                    <!-- <button type="button" class="button-p" disabled>참가중</button> -->
                </div>
            </div>

            <!-- [Case.비로그인] -->
            <div class="leaderboad">
                <div class="message">
                    <p class="myscore">대회에 참가하거나 <br>내 순위가 궁금하다면 로그인해주세요.</p>
                </div>
                <div class="score">
                    <p class="guide-text"><i class="icon-info-s" aria-hidden="true"></i>종료된 대회지만 연습용으로 계속 참가할 수 있어요.</p>
                </div>
                <div class="button-box-medium">
                    <button type="button" class="button-p">로그인하기</button>
                </div>
            </div>

            <div class="result-none">
                <p class="message">종료된 대회는 내 점수만 확인 가능해요.</p>
                <p class="message-sub">다른 참가자의 점수와 순위는 공개되지 않지만,<br>내 기록은 계속 확인할 수 있어요.</p>
            </div>
        </div>

        <!-- 제출 -->
        <div class="tab-contents" aria-role="tabpanel" id="tabContentContest4" tabindex="0" style="display:none;">
            <h2 class="content-title">제출하기</h2>
            <div class="submit-box">
                <div class="guide-desc">
                    <p class="guide-text type-bul color-point">1일 최대 5회까지 업로드 가능해요.</p>
                    <p class="guide-text type-bul">문의사항이 있으신 경우 Q&A를 이용해주세요.</p>
                    <a href="#" target="_blank" class="qna-link">Q&A 바로가기</a>
                </div>
                <div class="input-file">
                    <div class="input-box">
                        <input type="file" id="fileTable">
                        <input type="text" class="ipt" placeholder="파일을 업로드해주세요." disabled id="fileTablePath">
                    </div>
                    <div class="button-box-large">
                        <label type="button" class="button-s" for="fileTable">파일 찾기</label>
                    </div>
                </div>
                <p class="info-text">파일 유형 : CSV, 파일 용량 : 20MB 이하</p>

                <div class="bottom-counts">
                    <p class="txt">
                        <span>오늘 제출<strong><i class="new">2</i>/<i class="total">5</i></strong></span>
                    </p>
                    <!-- [제출 횟수 다 찼을 경우] -->
                    <p class="txt">
                        <span>오늘 제출<strong><i class="new is-full">2</i>/<i class="total">5</i></strong></span>
                    </p>
                    <div class="button-box-large">
		                <button class="button-q" type="button" disabled>제출하기</button>
		            </div>
                </div>
            </div>

            <h2 class="content-title">나의 제출내역 <em>0</em></h2>
            <div class="myhistory">
                <div class="result-none">
                    <p class="message">제출한 내역이 없습니다.</p>
                </div>
            </div>

            <h2 class="content-title">나의 제출내역 <em>17</em></h2>
            <div class="myhistory">
                <p class="test-date">2025.07.07</p>
                <ul>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1_Submission1_Submission1_Submission1_Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <p class="title">Submission1.csv</p>
                            <p class="info"><span class="date">2025.07.07 15:30:20</span></p>
                            <span class="score">점수 0.94188</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="loading">
                <i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i>
            </div>
        </div>
    </div>
    <!-- //[데이터경진대회] -->
</div>
{%- endblock %}