{%- extends "_templates/_layout.njk" -%}

{% block content %}
{{ include( "_html/_DM02.njk" ) }}
{%- endblock %}

{% block modal %}
<!-- 공유하기 -->
<div class="pop-modal modal-hidden" id="shareModal">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">공유하기</div>
        <div class="share-sns">
            <a href="#" class="kakao"><span class="icon-kakao"></span><i class="txt">카카오톡</i></a>
            <a href="#" class="facebook"><span class="icon-facebook"></span><i class="txt">페이스북</i></a>
            <a href="#" class="naverblog"><span class="icon-naverblog"></span><i class="txt">네이버블로그</i></a>
            <a href="#" class="url-copy"><span class="icon-url"></span><i class="txt">URL복사</i></a>
        </div>
        <button class="modal-close" type="button">닫기</button>
    </div>
</div>
<!-- //공유하기 -->

<!-- 세부정보 -->
<div class="pop-modal modal-hidden" id="dataInfoModal_0">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>30일</dd>
            </dl>
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>구매 또는 다운로드 직후부터 1년</dd>
            </dl>
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>이용허락범위 제한 없음</dd>
            </dl>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<div class="pop-modal modal-hidden" id="dataInfoModal_1">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>
                    <i class="icon-cc">이용허락범위(CC)</i>
                    <i class="icon-by">저작자표시(BY)</i>
                </dd>
            </dl>
            <div class="desc">
                <dl>
                    <dt>저작자표시(CC_BY)</dt>
                    <dd>저작자의 이름, 저작물의 제목, 출처 등 저작자에 관한 표시를 해주어야 합니다.</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<div class="pop-modal modal-hidden" id="dataInfoModal_2">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>
                    <i class="icon-cc">이용허락범위(CC)</i>
                    <i class="icon-by">저작자표시(BY)</i>
                    <i class="icon-nc">비영리(NC)</i>
                </dd>
            </dl>
            <div class="desc">
                <dl>
                    <dt>저작자표시-비영리(CC_BY_NC)</dt>
                    <dd>저작자를 밝히면 자유로운 이용이 가능하지만 영리목적으로 이용할 수 없습니다.</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<div class="pop-modal modal-hidden" id="dataInfoModal_3">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>
                    <i class="icon-cc">이용허락범위(CC)</i>
                    <i class="icon-by">저작자표시(BY)</i>
                    <i class="icon-nd">변경금지(ND)</i>
                </dd>
            </dl>
            <div class="desc">
                <dl>
                    <dt>저작자표시-변경금지(CC_BY_ND)</dt>
                    <dd>저작자를 밝히면 자유로운 이용이 가능하지만, 변경 없이 그대로 이용해야 합니다.</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<div class="pop-modal modal-hidden" id="dataInfoModal_4">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>
                    <i class="icon-cc">이용허락범위(CC)</i>
                    <i class="icon-by">저작자표시(BY)</i>
                    <i class="icon-sa">동일조건변경허락(SA)</i>
                </dd>
            </dl>
            <div class="desc">
                <dl>
                    <dt>저작자표시-동일조건변경허락(CC_BY_SA)</dt>
                    <dd>저작자를 밝히면 자유로운 이용이 가능하고 저작물의 변경도 가능하지만, 2차적 저작물에는 원 저작물에 적용된 것과 동일한 라이선스를 적용해야 합니다.</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<div class="pop-modal modal-hidden" id="dataInfoModal_5">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>
                    <i class="icon-cc">이용허락범위(CC)</i>
                    <i class="icon-by">저작자표시(BY)</i>
                    <i class="icon-nc">비영리(NC)</i>
                    <i class="icon-sa">동일조건변경허락(SA)</i>
                </dd>
            </dl>
            <div class="desc">
                <dl>
                    <dt>저작자표시-비영리-동일조건변경허락(CC_BY_NC_SA)</dt>
                    <dd>저작자를 밝히면 이용이 가능하며 저작물의 변경도 가능하지만, 영리목적으로 이용할 수 없고 2차적 저작물에는 원 저작물과 동일한 라이선스를 적용해야 합니다.</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<div class="pop-modal modal-hidden" id="dataInfoModal_6">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">세부정보</div>
        <div class="modal-data-info">
            <dl class="info">
                <dt>데이터 다운로드 가능 기간</dt>
                <dd>무제한</dd>
            </dl>
            <dl class="info">
                <dt>이용허락범위</dt>
                <dd>
                    <i class="icon-cc">이용허락범위(CC)</i>
                    <i class="icon-by">저작자표시(BY)</i>
                    <i class="icon-nc">비영리(NC)</i>
                    <i class="icon-nd">변경금지(ND)</i>
                </dd>
            </dl>
            <div class="desc">
                <dl>
                    <dt>저작자표시-비영리-변경금지(CC_BY_NC_ND)</dt>
                    <dd>저작자를 밝히면 자유로운 이용이 가능하지만, 영리목적으로 이용할 수 없고 변경 없이 그대로 이용해야 합니다.</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<!-- //세부정보 -->

<!-- 데이터선택 -->
<div class="pop-modal modal-hidden" id="dataSelectModal">
    <div class="modal modal-large" tabindex="0">
        <div class="modal-header">데이터 선택</div>
        <!-- 데이터 리스트 -->
        <div class="modal-price-cart">
            <div class="item-scroll-wrap">
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>[Sample]온라인상세매출 온라인상세매출 온라인상세매출 온라인상세매출</i></label>
                    <span class="i-price">무료</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
                <div class="item">
                    <label class="ipt-check"><input type="checkbox" name="checkbox1"><i>2025년 4월의 온라인 2025년 4월의 온라인 2025년 4월의 온라인</i></label>
                    <span class="i-price">2,202,240,200</span>
                </div>
            </div>
        </div>
        <!-- //데이터 리스트 -->
        <div class="button-box-medium">
            <button class="button-q" type="button">초기화</button>
            <button class="button-p" type="button">데이터 선택하기</button>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<!-- //데이터선택 -->

<!-- [2025.08.20] 등록된 데이터 없는 경우 -->
<div class="pop-modal modal-hidden" id="dataSelectModal2">
    <div class="modal modal-large" tabindex="0">
        <div class="modal-header">데이터 선택</div>
        <!-- 데이터 리스트 -->
        <div class="modal-price-cart">
            <div class="data-none">
                <p class="message">등록된 데이터가 없어요</p>
            </div>
        </div>
        <!-- //데이터 리스트 -->
        <div class="button-box-medium">
            <button class="button-p" type="button">닫기</button>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<!-- //[2025.08.20] 등록된 데이터 없는 경우 -->

<!-- 사용기간선택 -->
<div class="pop-modal modal-hidden" id="dateSelectModal">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">사용기간 선택</div>
        <div class="modal-price-cart">
            <div class="item-scroll-wrap">
                <div class="item">
                    <label class="ipt-radio"><input type="radio" name="radio1"><i class="i-title">6개월</i><span class="i-price">2,202,240,200</span></label>
                </div>
                <div class="item">
                    <label class="ipt-radio"><input type="radio" name="radio1"><i class="i-title">12개월</i><span class="i-price">2,202,240,200</span></label>
                </div>
            </div>
        </div>
        <!-- 퍼블리싱 확인 -->
        <script>
            const modal = document.getElementById('dateSelectModal');
            const radios = modal.querySelectorAll('.item-scroll-wrap input');
            radios.forEach(function(radio){
                radio.addEventListener('click', function(){
                    fn_modalPopClose(modal);
                })
            });
        </script>
        <!-- //퍼블리싱 확인 -->
        <button class="modal-close" type="button">닫기</button>
    </div>
</div>
<!-- //사용기간선택 -->

<div class="pop-modal modal-hidden" id="modal1">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>로그인이 필요한 서비스입니다.<br>지금 로그인하고 데이터를 구매해보세요!</p>
        </div>
        <div class="button-box-medium col-3">
            <button class="button-q" type="button">취소</button>
            <button class="button-p" type="button">로그인하러 가기</button>
        </div>
    </div>
</div>

<div class="pop-modal modal-hidden" id="modal2">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>선택한 데이터가 없어요.<br>원하는 데이터를 먼저 골라주세요.</p>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
    </div>
</div>

<div class="pop-modal modal-hidden" id="modal3">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>선택한 사용기간이 없어요.<br>사용기간을 먼저 골라주세요.</p>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
    </div>
</div>

<!-- OPEN API 안내 -->
<div class="pop-modal modal-hidden" id="infoApiModal">
    <div class="modal modal-large" tabindex="0">
        <div class="modal-header">OPEN API안내</div>
        <div class="paragraph-box">
            <h1>OPEN API란?</h1>
            <p>OPEN API란 인터넷 이용자 또는 애플리케이션 개발자가 직접 응용프로그램과 서비스를 손쉽게 개발할 수 있도록 일정하게 정해진 형식으로 정보를 공개하는 것으로 OPEN API(개방형 환경)을 제공하고 있습니다. (예 : 날씨정보, 버스정보 등)<br>금융 빅데이터 플랫폼은 자체적으로 보유한 빅데이터 중 민간 수요가 많은 데이터를 OPEN API 형태로 개발하여, 개발자가 웹브라우저, 스마트기기의 모바일 앱 서비스 등으로 개발이 용이하도록 제공하고 있습니다.</p>
            
            <h1>금융 빅데이터 플랫폼에서 제공하는 OPEN API 서비스는?</h1>
            <p>금융 빅데이터 플랫폼이 보유하고 있는 정보를 웹브라우저 또는 앱 서비스 등의 개발에 좀 더 쉽고 편리하게 활용 및 이용할 수 있도록 금융 빅데이터 플랫폼에서 공개한 개발자를 위한 OPEN API 서비스 입니다.<br> 제공되는 정보는 각 제공기관이 제공하고 금융 빅데이터 플랫폼이 보유 관리하는 OPEN API 정보를 실시간 제공 받으실 수 있으며, 개발에 활용 할 수 있습니다. 추후 지속적으로 업데이트 될 예정이므로 정보의 활성화 및 홍보를 위해 많은 활용 바랍니다.<p>
            
            <div class="more">
                <h1>OPEN API 이용 방법</h1>
                <ol class="step">
                    <li><i class="num">1</i><a href="#">사용할 OPEN API 확정</a></li>
                    <li><i class="num">2</i><a href="#">OPEN API 인증키 신청</a></li>
                    <li><i class="num">3</i>승인 및 인증키 발급</li>
                    <li><i class="num">4</i>OPEN API 활용하여 애플리케이션 구현</li>
                </ol>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<!-- //OPEN API 안내 -->

<!-- 퍼블리싱 확인 -->
<div class="modal-test">
    <div class="button-box-xsmall">  
        <a href="#" class="button-p" onclick="fn_modalPopOpen('shareModal');return false;">[공유하기]</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_0');return false;">[세부정보] > 이용허락범위 제한 없음</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_1');return false;">[세부정보] > 저작자표시(CC_BY)</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_2');return false;">[세부정보] > 저작자표시-비영리(CC_BY_NC)</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_3');return false;">[세부정보] > 저작자표시-변경금지(CC_BY_ND)</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_4');return false;">[세부정보] > 저작자표시-동일조건변경허락(CC_BY_SA)</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_5');return false;">[세부정보] > 저작자표시-비영리-동일조건변경허락(CC_BY_NC_SA)</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('dataInfoModal_6');return false;">[세부정보] > 저작자표시-비영리-변경금지(CC_BY_NC_ND)</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('dataSelectModal', true);return false;">[데이터 선택]</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('dataSelectModal2', true);return false;">[데이터 선택] > 등록된 데이터 없는 경우</a><!-- [2025.08.20] 데이터선택 내역없을 때 -->
        <a href="#" class="button-p" onclick="fn_modalPopOpen('dateSelectModal');return false;">[사용기간 선택]</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modal1');return false;">[바로 구매하기] 비로그인 Case</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modal2');return false;">[바로 구매하기] 데이터 데이터 미선택 Case</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modal3');return false;">[바로 구매하기] OPEN API 상품 && 사용기간 미선택</a>
        <a href="#" class="button-s" onclick="fn_toast('선택하신 상품을 장바구니에 담았어요.',1);return false;">[장바구니 담기] 토스트팝업</a>
        <a href="#" class="button-t" onclick="fn_modalPopOpen('infoApiModal');return false;">API 상세 > 자세히보기 [OPEN API안내]</a>
    </div>
</div>
<!-- //퍼블리싱 확인 -->
{%- endblock %}