{%- extends "_templates/_layout.njk" -%}

{% block content %}
{{ include( "_html/_DM03.njk" ) }}
{%- endblock %}

{% block modal %}

<div class="pop-modal modal-hidden" id="modal1">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>지금 돌아가면 설정한 내용이 모두 사라져요. <br>이전 화면으로 가시겠어요?</p>
        </div>
        <div class="button-box-medium col-3">
            <button class="button-q" type="button">취소</button>
            <button class="button-p" type="button">이전 화면으로 이동</button>
        </div>
    </div>
</div>

<div class="pop-modal modal-hidden is-full" id="modal2_1"><!-- [2025.09.19] 수정 -->
    <div class="modal modal-medium" tabindex="0"><!-- [2025.09.19] 수정 -->
        <div class="modal-header">쿠폰</div>
        <div class="modal-content"><!-- [2025.08.26] 수정 -->
            <div class="coupon-box"><!-- [2025.08.26] 수정 -->
                <div class="coupon">
                    <div class="coupon-discount">
                        <label>
                            <input type="checkbox" name="couponDuplication0">
                            <i class="txt">100% 할인</i>
                        </label>
                        <span class="flag">중복사용</span>
                        <span class="flag flag-primary">최대 할인 쿠폰</span>
                    </div>
                    <dl class="coupon-details">
                        <dt>BC카드 전용 쿠폰</dt>
                        <dd>100,000원 이상</dd>
                        <dd>2025년 12월 31일까지</dd>
                    </dl>
                </div>
                <div class="coupon">
                    <div class="coupon-discount">
                        <label>
                            <input type="checkbox" name="coupon" disabled>
                            <i class="txt">10% 할인</i>
                        </label>
                    </div>
                    <dl class="coupon-details">
                        <dt>BC카드 전용 쿠폰</dt>
                        <dd>100,000원 이상</dd>
                        <dd>2025년 12월 31일까지</dd>
                    </dl>
                </div>
                <div class="coupon">
                    <div class="coupon-discount">
                        <label>
                            <input type="checkbox" name="coupon">
                            <i class="txt">5% 할인</i>
                        </label>
                    </div>
                    <dl class="coupon-details">
                        <dt>BC카드 전용 쿠폰</dt>
                        <dd>100,000원 이상</dd>
                        <dd>2025년 12월 31일까지</dd>
                    </dl>
                </div>
                <div class="coupon">
                    <div class="coupon-discount">
                        <label>
                            <input type="checkbox" name="coupon">
                            <i class="txt">100% 할인</i>
                        </label>
                    </div>
                    <dl class="coupon-details">
                        <dt>BC카드 전용 쿠폰</dt>
                        <dd>100,000원 이상</dd>
                        <dd>2025년 12월 31일까지</dd>
                    </dl>
                </div>
                <div class="coupon">
                    <div class="coupon-discount">
                        <label>
                            <input type="checkbox" name="couponDuplication1">
                            <i class="txt">10% 할인</i><i class="txt-sub">(최대 20,000원)</i><!-- [2025.08.26] 수정 -->
                        </label>
                        <span class="flag">중복사용</span>
                    </div>
                    <dl class="coupon-details">
                        <dt>첫 구매 할인</dt>
                        <dd>100,000원 이상</dd>
                        <dd>2025년 12월 31일까지</dd>
                    </dl>
                </div>
                <div class="coupon">
                    <div class="coupon-discount">
                        <label>
                            <input type="checkbox" name="couponDuplication2">
                            <i class="txt">10% 할인</i><i class="txt-sub">(최대 20,000원)</i><!-- [2025.08.26] 수정 -->
                        </label>
                        <span class="flag">중복사용</span>
                    </div>
                    <dl class="coupon-details">
                        <dt>첫 구매 할인</dt>
                        <dd>100,000원 이상</dd>
                        <dd>2025년 12월 31일까지</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="button-box-medium">
            <button class="button-q" type="button">초기화</button>
            <button class="button-p" type="button">적용하기</button>
        </div>
        <button class="modal-close" type="button">닫기</button>
    </div>
</div>

<div class="pop-modal modal-hidden is-full" id="modal2_2"><!-- [2025.09.19] 수정 -->
    <div class="modal modal-medium" tabindex="0"><!-- [2025.09.19] 수정 -->
        <div class="modal-header">쿠폰</div>
        <div class="coupon-box">
            <div class="result-none">
                <p class="message">보유한 쿠폰이 없어요</p>
            </div>
        </div>
        <button class="modal-close" type="button">닫기</button>
    </div>
</div>

<!-- 약관보기 팝업 -->
<div class="pop-modal modal-hidden" id="modal3">
    <div class="modal modal-large" tabindex="0">
        <div class="modal-header">전자계약안내</div>
        <div class="modal-tabs-sub-paragraph">
            <div class="tab-box is-static">
                <ul class="tabs-sub-small">
                    <li class="is-on"><a href="#">전자계약 결제 안내</a></li>
                    <li><a href="#">전자계약 결제 방식별 절차 안내</a></li>
                </ul>
            </div>
            <div class="tabs-sub-contents">
                <div class="item-scroll-wrap">
                    <h1 id="tabContent1">전자계약 결제 안내</h1>

                    <p>전자계약 결제는 법인인증 완료 회원만 이용 가능합니다.<br>
                    법인회원 인증을 위해 아래 정보 입력 및 관리자 승인이 필요합니다.</p>
                    <ul>
                        <li>소속 이메일 도메인 인증</li>
                        <li>사업자번호, 대표자명 등 사업장 정보 입력</li>
                        <li>사업자등록증 첨부</li>
                        <li>관리자 승인(최대 1~2일 소요)</li>
                    </ul>

                    <h1 id="tabContent2">전자계약 결제 방식별 절차 안내</h1>
                    
                    <h2>카드결제</h2>
                    <ul class="list-circle-num">
                        <li><i class="mark">①</i>전자서명 (구매자)</li>
                        <li><i class="mark">②</i>관리자 검토 및 서명</li>
                        <li><i class="mark">③</i>마이페이지 > 구매내역 > 카드결제 진행</li>
                        <li><i class="mark">④</i>결제 완료 후 즉시 다운로드 가능</li>
                    </ul>
                    
                    <h2>세금계산서</h2>
                    <ul class="list-circle-num">
                        <li><i class="mark">①</i>전자서명 (구매자)</li>
                        <li><i class="mark">②</i>마이페이지 > 구매내역 > 세금계산서 발행 정보 입력</li>
                        <li><i class="mark">③</i>관리자 서명 및 다운로드 승인</li>
                        <li><i class="mark">④</i>다운로드 후 세금계산서 발행 협의 가능</li>
                    </ul>
                    
                    <h2>안내</h2>
                    <ul class="list-bul">
                        <li><i class="mark">•</i>관리자 서명까지 평균 1~2일 소요될 수 있습니다.</li>
                        <li><i class="mark">•</i>전자계약은 승인 절차로 시간이 소요될 수 있습니다. 빠른 진행을 원하시면 카드결제를 선택해 주세요.</li>
                    </ul>
                </div>
            </div><!-- //.tabs-sub-contents -->
        </div>
        <div class="button-box-medium">
            <button class="button-q" type="button">확인</button>
            <button class="button-p" type="button">법인회원 인증하기</button>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
        <button class="modal-close" type="button">닫기</button>
    </div>
</div>
<!-- //약관보기 팝업 -->

<div class="pop-modal modal-hidden" id="modal4">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>지금 법인회원 인증을 하러가면 결제 정보가 저장되지 않아요.</p><!-- [2025.09.17] 수정 -->
        </div>
        <div class="button-box-medium col-3">
            <button class="button-q" type="button">취소</button>
            <button class="button-p" type="button">인증하러 가기</button>
        </div>
    </div>
</div>


<!-- 퍼블리싱 확인 -->
<div class="modal-test">
    <div class="button-box-xsmall">  
        <a href="#" class="button-q" onclick="fn_modalPopOpen('modal1');return false;">[이전]</a>
        <a href="#" class="button-s" onclick="fn_modalPopOpen('modal2_2');return false;">[쿠폰적용/쿠폰변경] > 쿠폰 없는 경우</a>
        <a href="#" class="button-s" onclick="fn_modalPopOpen('modal2_1');return false;">[쿠폰적용/쿠폰변경]</a>
        <a href="#" class="button-t" onclick="fn_toast('쿠폰 적용이 해제되었어요', 1);return false;">[쿠폰적용/쿠폰변경] > 쿠폰해제 토스트팝업</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('modal3');return false;">전자계약 자세히 보기</a>
        <a href="#" class="button-q" onclick="fn_modalPopOpen('modal4');return false;">[법인회원 인증하기 버튼 선택 시, 컨펌 호출]</a>
    </div> 
</div>
<!-- //퍼블리싱 확인 -->
{%- endblock %}