{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-datamarket">
    <h1 class="headline1">데이터마켓</h1>
    <p class="head-guidetext">골라보기만 하면 끝! 데이터는 다 준비돼 있어요.</p>

    <!-- [데이터마켓] -->
    <div class="datamarket-contents">
        <div class="result-complete">
            <p class="message">데이터 구매가 완료되었어요</p>
            <p class="message-sub">데이터 구매내역과 다운로드는 <br>마이페이지에서 확인할 수 있어요.</p>
            <div class="button-box-small">
                <button type="button" class="button-t">구매내역 보러가기</button>
            </div>
        </div>
        <div class="result-complete">
            <p class="message">OPEN API 구매가 완료되었어요</p>
            <p class="message-sub">OPEN API 구매내역과 다운로드는 <br>마이페이지에서 확인할 수 있어요.</p>
            <div class="button-box-small">
                <button type="button" class="button-t">구매내역 보러가기</button>
            </div>
        </div>
    </div>
    <!-- //[데이터마켓] -->
</div>
{%- endblock %}