{%- extends "_templates/_layout.njk" -%}

{% block content %}

<div class="content page-polio">
    <div class="content-head-btn">
        <div class="content-head">
            <h1 class="headline1">데이터폴리오</h1>
            <p class="head-guidetext">원하는 조건을 선택하면 맞춤형 데이터를 생성해드려요.</p>
        </div>
        <!-- 250818 임시저장 버튼 수정-->
        <div class="button-box-small">
            <button type="button" class="btn-ts">임시저장</button>
            <button type="button" class="count">7</button>
        </div>
        <!-- //250818 임시저장 버튼 수정-->
    </div>             

    <div class="datapolio-search">
        <div class="input-box">
            <input type="text" class="ipt" placeholder="조건을 입력하면 AI가 자동 선택해드려요.">
            <span class="util-box">
                <button type="button" class="ipt-search"><i>검색</i></button>
            </span>
        </div>
    </div>

    <div class="datapolio-contents">
        <div class="content-step">
            <ul>
                <!-- [2025.09.04] 수정 : 버튼 태그 추가 -->
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">집계기준</em>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">기간</em>
                        </span>
                    </button>
                </li>
                <li class="on" aria-selected="true">
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">지역</em>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-bedge">필수</em>
                            <em class="step-txt">업종</em>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="step-button">
                        <i class="bar" aria-hidden="true"></i>
                        <span class="step-title">
                            <em class="step-txt">세부항목</em>
                        </span>
                    </button>
                </li>
                <!-- //[2025.09.04] 수정 : 버튼 태그 추가 -->
            </ul>
        </div>

        <div class="step-content">
            <p class="title3">어떤 <a href="#" class="text-button">행정동</a>으로 데이터를 만들까요?</p>
            <!-- 시/군/구 -->
            <div class="chip-check-wrap">
                <div class="chip-tit-wrap">
                    <span class="tit">
                        <span>
                            <a href="#" class="txt-link none">광역시/도</a> <a href="#" class="txt-link none">시/군/구</a>행정동
                        </span>
                        <span class="sub_tit">(다중선택 가능)</span>
                    </span>
                    <button type="button" class="filter-reset">초기화</button>
                </div>
                <div class="chip-breadcrumb-wrap">
                    <div class="chip-breadcrumb">
                        <span>서울특별시</span>
                        <a href="DP03_re01.html">이전</a>
                    </div>
                    <div class="checkbox">
                        <label class="ipt-check-box"><input type="checkbox" name="checkbox1" checked><i>전체</i></label>
                    </div>
                </div>
                <div class="checkbox col-4">
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                    <label class="ipt-check-box"><input type="checkbox" name="checkbox1" onclick="location.href='DP03_re03.html'"><i>시/군/구</i></label>
                </div>
            </div>
            <!-- //시/군/구 -->
        </div>
    </div>

    <div class="datapolio-bottom">
    <div class="btn-filter">
        <button type="button" class="btn-icon-filter is-filter">
            <i>선택조건 있음</i>
        </button>
    </div>
    <div class="filter_box">
        <div class="filter-content">
            <span class="filter-tit">선택한 조건</span>
            
            <!-- 선택한 조건 있을 경우 -->
            <button type="button" class="filter-reset">초기화</button>
            <div class="filter-option item-scroll-wrap">
                <div class="option-box">
                    <span class="option-tit">데이터유형 <em class="count">1</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>내국인 카드소비 데이터</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="option-box">
                    <span class="option-tit">기간 <em class="count">1</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>2024</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                        <div class="option-txt is-ai">
                            <span>2024</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                        <div class="option-txt">
                            <span>내국인 카드소비 데이터</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="option-box">
                    <span class="option-tit">지역 <em class="count">2</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>서울특별시 강남구 논현동</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                        <div class="option-txt">
                            <span>서울특별시 강남구 청담동</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="option-box">
                    <span class="option-tit">업종 <em class="count">2</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>가정통신 > 가전 > 건강가전</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                        <div class="option-txt is-ai">
                            <span>가정통신 > 가전 > 건강가전</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="option-box">
                    <span class="option-tit">요일 <em class="count">2</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>주말</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="option-box">
                    <span class="option-tit">시간대 <em class="count">2</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>저녁</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="option-box">
                    <span class="option-tit">연령 <em class="count">2</em></span>
                    <div class="option-filter-box">
                        <div class="option-txt is-ai">
                            <span>20대</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                        <div class="option-txt is-ai">
                            <span>30대</span>
                            <button type="button" class="del">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //선택한 조건 있을 경우 -->
            <!-- 선택한 조건 없을 경우 -->
            <button type="button" class="filter-reset disabled">초기화</button>
            <div class="result-none">
                <p class="message">선택한 조건이 없어요</p>
            </div>
            <!-- //선택한 조건 없을 경우 -->
            <button class="filter-close" type="button">닫기</button>
        </div>
    </div>
    <div class="bottom-content">
        <div class="polio-quote">
            <div class="quote-box">
                <div class="quote-tit">
                    <span class="tit">견적</span>
                    <span class="sub">(VAT 포함)</span>
                    <button type="button" class="detail-info"><i class="icon-info-s">세부정보</i></button>
                </div>
                <div class="quote-result">
                    <span class="price">
                        <i>0</i>원
                    </span>
                    <span class="my-price">(나의 예상 구매 가격 <i>139,570,000</i>원)</span>
                </div>
            </div>
            <div class="textbutton-box-xsmall">
                <a href="#" class="textbutton-p underline disabled">샘플데이터 확인</a>
            </div>
        </div> 
        <div class="button-box-large">
            <button class="button-q" type="button" onclick="location.href='DP03_re01.html'">이전</button>
            <button class="button-p" type="button">다음</button>
        </div>
    </div>
    </div>
    
</div> 
{%- endblock %}                  


