{%- extends "_templates/_layout.njk" -%}

{% block content %}

<div class="content page-polio">
    <div class="content-head-btn">
        <div class="content-head">
            <h1 class="headline1">데이터폴리오</h1>
            <p class="head-guidetext">원하는 조건을 선택하면 맞춤형 데이터를 생성해드려요.</p>
        </div>
    </div> 
    <div class="datapolio-contents">
        <div class="result-complete">
            <p class="message">데이터 구매가 완료되었어요</p>
            <p class="message-sub">데이터 구매내역과 다운로드는 <br>마이페이지에서 확인할 수 있어요.</p>
            <div class="button-box-small">
                <button type="button" class="button-t">구매내역 보러가기</button>
            </div>
        </div>
    </div>
    <div class="etc-wrap">
        <ul>
            <li class="etc-file">
                <span>24시간 이내 <br>파일 제공</span>
            </li>
            <li class="etc-sms">
                <span>다운로드 준비 완료 시 <br>이메일/SMS 알림</span>
            </li>
            <li class="etc-my">
                <span>마이페이지에서 <br>다운로드 가능</span>
            </li>
        </ul>
    </div>
    
</div> 
{%- endblock %}                  