{%- extends "_templates/_layout.njk" -%}

{% block content %}
{%- endblock %}

{% block modal %}

<!-- OPEN API 안내 -->
<div class="pop-modal modal-hidden" id="infoApiModal">
    <div class="modal modal-large" tabindex="0">
        <div class="modal-header">OPEN API안내</div>
        <div class="paragraph-box">
            <h1>OPEN API란?</h1>
            <p>OPEN API란 인터넷 이용자 또는 애플리케이션 개발자가 직접 응용프로그램과 서비스를 손쉽게 개발할 수 있도록 일정하게 정해진 형식으로 정보를 공개하는 것으로 OPEN API(개방형 환경)을 제공하고 있습니다. (예 : 날씨정보, 버스정보 등)<br>금융 빅데이터 플랫폼은 자체적으로 보유한 빅데이터 중 민간 수요가 많은 데이터를 OPEN API 형태로 개발하여, 개발자가 웹브라우저, 스마트기기의 모바일 앱 서비스 등으로 개발이 용이하도록 제공하고 있습니다.</p>
            
            <h1>금융 빅데이터 플랫폼에서 제공하는 OPEN API 서비스는?</h1>
            <p>금융 빅데이터 플랫폼이 보유하고 있는 정보를 웹브라우저 또는 앱 서비스 등의 개발에 좀 더 쉽고 편리하게 활용 및 이용할 수 있도록 금융 빅데이터 플랫폼에서 공개한 개발자를 위한 OPEN API 서비스 입니다.<br> 제공되는 정보는 각 제공기관이 제공하고 금융 빅데이터 플랫폼이 보유 관리하는 OPEN API 정보를 실시간 제공 받으실 수 있으며, 개발에 활용 할 수 있습니다. 추후 지속적으로 업데이트 될 예정이므로 정보의 활성화 및 홍보를 위해 많은 활용 바랍니다.<p>
            
            <div class="more">
                <h1>OPEN API 이용 방법</h1>
                <ol class="step">
                    <li><i class="num">1</i><a href="#">사용할 OPEN API 확정</a></li>
                    <li><i class="num">2</i><a href="#">OPEN API 인증키 신청</a></li>
                    <li><i class="num">3</i>승인 및 인증키 발급</li>
                    <li><i class="num">4</i>OPEN API 활용하여 애플리케이션 구현</li>
                </ol>
            </div>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>
<!-- //OPEN API 안내 -->

<!-- 퍼블리싱 확인 -->
<div class="modal-test">
    <div class="button-box-xsmall">  
        <a href="#" class="button-t" onclick="fn_modalPopOpen('infoApiModal');return false;">API 상세 > 자세히보기 [OPEN API안내]</a>
    </div>
</div>
<!-- //퍼블리싱 확인 -->
{%- endblock %}