{%- extends "_templates/_layout_guide.njk" -%}

{% block content %}
<div class="content page-platformIntro">
    <h1 class="headline1">플랫폼 소개</h1>
    <p class="head-guidetext">서비스 안내사항과 업데이트 소식을 알려드려요.</p>
    <div class="platformIntro-contents">
        <div class="p-cont">
            <img src="" alt="">
            <p class="title3">지금 본 인사이트, 데이터로 더 깊이 보기</p>
            <p>금융빅데이터플랫폼은 2019년 5월 과학기술정보통신부와 한국지능정보사회진흥원(NIA)의 빅데이터 생태계 조성을 위해 만들어졌습니다.<br>
            비씨카드는 금융분야의 빅데이터플랫폼 구축 사업자로서 금융빅데이터플랫폼(이하 금빅플)을 운영하고 있습니다.</p>
            <p>금빅플에는 카드, 유통, 통신 등 다양한 분야의 데이터가 준비되어 있습니다.<br>
            금빅플의 데이터와 함께라면 상상 속 아이디어는 현실이 됩니다.</p>
        </div>
    </div>
</div>
{%- endblock %}