{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-notice">
    <div class="content-head-btn">
        <div class="content-head">
            <h1 class="headline1">공지사항</h1>
            <p class="head-guidetext">서비스 안내사항과 업데이트 소식을 알려드려요.</p>
        </div>
    </div>
    <div class="notice-detail">
        <p class="title3">한국지능정보사회진흥원(NIA) 통합 데이터 지도 홈페이지 리뉴얼 오픈 기념 설문조사</p>
        <div class="desc">
            <span class="date">2025.05.30</span>
            <a href="#" class="icon-url-s">디지털뉴딜브리프 제2호.zip (8.0 MB)</a>
        </div>
        <div class="detail-content">
            <div style="background:#aaa; height: 480px; text-align:center;">
                관리자 호출 영역<br>
                (공지사항 > 내용)
            </div>
        </div>
    </div>
    <div class="button-box-large">
        <a href="#" class="button-q">목록으로 이동</a>
    </div>
</div>
{%- endblock %}