{%- extends "_templates/_layout.njk" -%}

{% block content %}
{{ include( "_html/_UG0401.njk" ) }}
{%- endblock %}

{% block modal %}
<!-- 미입력 삳태에서 검색버튼 선택시 -->
<div class="pop-modal modal-hidden" id="modal1">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>1글자 이상 입력해주세요.</p>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
    </div>
</div>
<!-- //미입력 삳태에서 검색버튼 선택시 -->

<!-- 문의하기 -->
<div class="pop-modal modal-hidden" id="modal1">
    <div class="modal modal-medium" tabindex="0">
        <div class="modal-header">문의하기</div>
        <div class="modal-faq">
            <div class="tab-box">
                <ul class="tabs-small">
                    <li class="is-on"><a href="#tabContent1">일반 문의</a></li>
                    <li><a href="#tabContent2">상품 문의</a></li>
                </ul>
            </div>
            <div class="tab-contents" aria-role="tabpanel" id="tabContent1" tabindex="0" style="display:block;">
                <div class="formbox">
                    <form>
                        <label for="QnA01Title" class="input-title">제목<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" placeholder="제목을 작성해주세요." id="QnA01Title">
                            <span class="util-box">
                                <a href="#" class="ipt-clear">내용 지우기</a>
                            </span>
                        </div>

                        <label for="QnA01Content" class="input-title">내용<span class="required">(필수)</span></label>
                        <div class="textarea">
                            <textarea name="" id="QnA01Content" placeholder="문의 내용을 작성해주세요" rows="4"></textarea>
                            <p class="text-byte">0/4,000Byte</p>
                        </div>

                        <label for="QnA01Eamil" class="input-title">답변완료 시, 아래 이메일 정보로 알려드려요.</label>
                        <div class="input-box">
                            <input type="text" id="QnA01Eamil" value="Ho********@naver.com" readonly disabled>
                        </div>
                    </form>
                </div>
                <div class="button-box-medium">
                    <button class="button-p" type="button">문의하기</button>
                </div>
            </div>
            <div class="tab-contents" aria-role="tabpanel" id="tabContent2" tabindex="0" style="display:none;">
                <div class="formbox">
                    <form>
                        <label for="QnA02Title" class="input-title">제목<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <input type="text" placeholder="제목을 작성해주세요." id="QnA02Title">
                            <span class="util-box">
                                <a href="#" class="ipt-clear">내용 지우기</a>
                            </span>
                        </div>
                        <label for="QnA02Provider" class="input-title">제공기관<span class="required">(필수)</span></label>
                        <div class="input-box">
                            <select name="" id="QnA02Provider">
                                <option value="" disabled selected>제공기관을 선택해주세요.</option>
                                <option value="option1">제공기관 2_1</option>
                                <option value="option2">제공기관 2_2</option>
                                <option value="option3">제공기관 2_3</option>
                                <option value="option4">제공기관 2_4</option>
                            </select>
                        </div>

                        <label for="QnA02Content" class="input-title">내용<span class="required">(필수)</span></label>
                        <div class="textarea">
                            <textarea name="" id="QnA02Content" placeholder="문의 내용을 작성해주세요" rows="4"></textarea>
                            <p class="text-byte">0/4,000Byte</p>
                        </div>

                        <label for="QnA02Eamil" class="input-title">답변완료 시, 아래 이메일 정보로 알려드려요.</label>
                        <div class="input-box">
                            <input type="text" id="QnA02Eamil" value="Ho********@naver.com" readonly disabled>
                        </div>
                    </form>
                </div>
                <div class="button-box-medium">
                    <button class="button-p" type="button">문의하기</button>
                </div>
            </div>
        </div> 
        <button class="modal-close" type="button">닫기</button>
    </div>
</div>
<!-- //문의하기 -->

<!-- 퍼블리싱 확인 -->
<div class="modal-test">
    <div class="button-box-xsmall">  
        <button type="button" class="button-q" onclick="fn_toast('문의가 접수되었어요',1);">[문의접수] 토스트 팝업</button>
        <button type="button" class="button-p" onclick="fn_modalPopOpen('modal1',true);fn_faqAccodion('modal1'); return false;">[문의하기]</button>
        <a href="#" class="button-s" onclick="fn_modalPopOpen('modal1');return false;">미입력 상태에서 검색버튼 선택시</a>
    </div>
</div>
<!-- //퍼블리싱 확인 -->
{%- endblock %}