{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-join">
    <h1 class="headline1">회원가입</h1>
    <p class="welcome-copy">금융 빅데이터플랫폼에 회원가입하고 <br>다양한 데이터 서비스를 이용해보세요.</p>
    <div class="step-box">
        <ol class="step">
            <li class="done">
                <span class="num">1</span>
                <span class="txt">약관동의</span>
            </li>
            <li class="done">
                <span class="num">2</span>
                <span class="txt">정보입력</span>
            </li>
            <li class="current">
                <span class="num">3</span>
                <span class="txt">가입완료</span>
            </li>
        </ol>
    </div>

    <div class="complete-box">
        <p class="msg-complete">회원가입 완료</p>
        <p class="msg-sub">회원가입이 완료되었습니다. <br>금융 빅데이터플랫폼의 <br class="is-mobile">다양한 서비스를 이용할 수 있어요.</p>
    </div>
</div>
    
<div class="bottom-box">
    <div class="button-box-large">
        <button type="button" class="button-p">로그인</button>
    </div>
</div>
{%- endblock %}