{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-search">
    <p class="title3"><strong>회원</strong>에 대한 총 <strong>75</strong>건의 검색결과가 있어요.</p>
    <div class="input-box">
        <input type="text" class="ipt" placeholder="무슨 데이터가 필요하세요?" value="회원">
        <span class="util-box">
            <button class="ipt-clear">내용 지우기</button>
            <button type="button" class="ipt-search"><i>검색</i></button>
        </span>
    </div>
    <div class="search-content">
        <div class="contents-filter">
            <div class="chip-box count">
                <label class="chip"><input type="radio" name="radio1" checked=""><i>전체<em>75</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>데이터마켓<em>17</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>AI인사이트<em>16</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>데이터경진대회<em>15</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>공지사항<em>14</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>FAQ<em>13</em></i></label>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">데이터마켓 <strong>17</strong></h2>
            </div>
            <div class="data-list">
                <ul class="col-1">
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 <strong>회원</strong> 편의점 X BC카드 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드 카드<strong>회원</strong>고객 결합 생활소비 데이터고객 결합 생활소비 데이터고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드<strong>회원</strong> 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                            <p class="api"><a href="#" class="link">API</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="button-box-medium">
                <a href="#" class="button-q">더보기</a>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">AI 인사이트 <strong>16</strong></h2>
            </div>
            <div class="contents-list-wrap">
                <ul class="contents-list">
                    
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title"><strong>회원</strong>이 말해주는 요즘 트렌드.zip</p>
                                <p class="date">4일전</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">커피는 줄었고 <strong>회원</strong>은 늘었다.</p>
                                <p class="date">5일전</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">이번 주 소비 밸런스 게임 : <strong>회원</strong> 택시 vs 배달</p>
                                <p class="date">6일전</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="button-box-medium">
                <a href="#" class="button-q">더보기</a>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">데이터경진대회 <strong>16</strong></h2>
            </div>
            <div class="data-tournament-list">
                <ul class="tournament-list">
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="button-box-medium">
                <a href="#" class="button-q">더보기</a>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">공지사항 <strong>14</strong></h2>
            </div>
            <div class="notice-list">                   
		        <ul>
		            <li>
		                <a href="#">
		                    <div class="data-card">
                                <span class="bedge-notice">공지</span>
		                        <div class="icon-box">
		                            <p class="title"><strong>회원</strong> 금융빅데이터플랫폼 약관 개정 고지</p>
		                            <i class="icon-file">첨부파일</i>
		                            <i class="icon-new">new</i>
		                        </div>                    
		                        <p class="desc">2025.05.30</p>
		                    </div>    
		                </a>                      
		            </li>
		            <li>
		                <a href="#">
		                    <div class="data-card">
		                        <div class="icon-box">
		                            <p class="title">금융빅데이터플랫폼 혁신 서비스 <strong>회원</strong> 종료 안내</p>
		                            <i class="icon-new">new</i>
		                        </div>
		                        <p class="desc">2025.05.30</p>
		                    </div>   
		                </a>                       
		            </li>
		            <li>
		                <a href="#">
		                    <div class="data-card">
		                        <div class="icon-box">
		                            <p class="title">한국지능정보사회진흥원(NIA) <strong>회원</strong> 통합 데이터 지도 홈페이지 리뉴얼 오픈 기념 설문조사 이벤트</p>
		                        </div>
		                        <p class="desc">2025.05.30</p>
		                    </div>      
		                </a>                    
		            </li>
		        </ul>
		    </div>
            <div class="button-box-medium">
                <a href="#" class="button-q">더보기</a>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">FAQ <strong>14</strong></h2>
            </div>
            <div class="faq-contents">
                <div class="accordion">
                    <ul>
                        <li class="accordion-item active">
                            <div class="accordion-header">
                                <span class="bedge-notice">회원/계정</span>
                                <p class="title">Q. <strong>회원</strong> 휴면 해제를 어떻게 하나요?</p>
                                <button type="button">상세화면 열기</button>
                            </div>
                            <div class="accordion-content">
                                <div class="accordion-info">
                                    <p>회원정보는 로그인 후 [마이페이지 &gt; 개인정보 관리] 페이지에서 수정하실 수 있습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <div class="accordion-header">
                                <span class="bedge-notice">회원/계정</span>
                                <p class="title">Q. <strong>회원</strong> 휴면 해제를 어떻게 하나요?</p>
                                <button type="button">상세화면 닫기</button>
                            </div>
                            <div class="accordion-content">
                                <div class="accordion-info">
                                    <p>회원정보는 로그인 후 [마이페이지 &gt; 개인정보 관리] 페이지에서 수정하실 수 있습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <div class="accordion-header">
                                <span class="bedge-notice">회원/계정</span>
                                <p class="title">Q. <strong>회원</strong> 휴면 해제를 어떻게 하나요?</p>
                                <button type="button">상세화면 닫기</button>
                            </div>
                            <div class="accordion-content">
                                <div class="accordion-info">
                                    <p>회원정보는 로그인 후 [마이페이지 &gt; 개인정보 관리] 페이지에서 수정하실 수 있습니다.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="button-box-medium">
                <a href="#" class="button-q">더보기</a>
            </div>
        </div>
        
    </div>
</div>
{%- endblock %}