{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-search">
    <p class="title3"><strong>회원</strong>에 대한 총 <strong>75</strong>건의 검색결과가 있어요.</p>
    <div class="input-box">
        <input type="text" class="ipt" placeholder="무슨 데이터가 필요하세요?" value="회원">
        <span class="util-box">
            <button class="ipt-clear">내용 지우기</button>
            <button type="button" class="ipt-search"><i>검색</i></button>
        </span>
    </div>
    <div class="search-content">
        <div class="contents-filter">
            <div class="chip-box count">
                <label class="chip"><input type="radio" name="radio1"><i>전체<em>75</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>데이터마켓<em>17</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>AI인사이트<em>16</em></i></label>
                <label class="chip"><input type="radio" name="radio1" checked=""><i>데이터경진대회<em>15</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>공지사항<em>14</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>FAQ<em>13</em></i></label>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">데이터경진대회 <strong>16</strong></h2>
            </div>
            <div class="data-tournament-list">
                <ul class="tournament-list">
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="../images/dummy-aiinsight-.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="date">D-31</span>
                                    <span class="state ing">23명 참가중</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>2025.06.30~2025.07.31</span>
                                    <span>수상혜택 1,300만원</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tournament-content">
                            <p class="image"><img src="" alt="이미지"></p>
                            <div class="info-box">
                                <p class="tournament-tag">
                                    <span class="state">연습가능</span>
                                </p>
                                <span class="partner">비씨카드</span>
                                <p class="title">Boost up AI 2025 : 신약 개 신약 개발 <strong>회원</strong> 경진대회</p>
                                <ul class="keyword">
                                    <li>알고리즘</li>
                                    <li>분자구조</li>
                                    <li>정형</li>
                                    <li>회귀</li>
                                    <li>바이오</li>
                                </ul>
                                 <p class="etc">
                                    <span>언제든지 연습용으로 참여할 수 있어요.</span>
                                 </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="loading">
                <i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i>
            </div>
        </div>        
    </div>
</div>
{%- endblock %}