{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-search">
    <p class="title3"><strong>회원</strong>에 대한 총 <strong>75</strong>건의 검색결과가 있어요.</p>
    <div class="input-box">
        <input type="text" class="ipt" placeholder="무슨 데이터가 필요하세요?" value="회원">
        <span class="util-box">
            <button class="ipt-clear">내용 지우기</button>
            <button type="button" class="ipt-search"><i>검색</i></button>
        </span>
    </div>
    <div class="search-content">
        <div class="contents-filter">
            <div class="chip-box count">
                <label class="chip"><input type="radio" name="radio1"><i>전체<em>75</em></i></label>
                <label class="chip"><input type="radio" name="radio1" checked=""><i>데이터마켓<em>17</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>AI인사이트<em>16</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>데이터경진대회<em>15</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>공지사항<em>14</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>FAQ<em>13</em></i></label>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">데이터마켓 <strong>17</strong></h2>
            </div>
            <div class="data-list">
                <ul class="col-1">
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 <strong>회원</strong> 편의점 X BC카드 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드 카드<strong>회원</strong>고객 결합 생활소비 데이터고객 결합 생활소비 데이터고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드<strong>회원</strong> 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                            <p class="api"><a href="#" class="link">API</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 <strong>회원</strong> 편의점 X BC카드 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드 카드<strong>회원</strong>고객 결합 생활소비 데이터고객 결합 생활소비 데이터고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드<strong>회원</strong> 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                            <p class="api"><a href="#" class="link">API</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 <strong>회원</strong> 편의점 X BC카드 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드<strong>회원</strong> 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                            <p class="api"><a href="#" class="link">API</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드 카드<strong>회원</strong>고객 결합 생활소비 데이터고객 결합 생활소비 데이터고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 <strong>회원</strong> 편의점 X BC카드 카드고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data-card">
                            <p class="logo"></p>
                            <p class="title">이마트24 편의점 X BC카드 카드<strong>회원</strong>고객 결합 생활소비 데이터고객 결합 생활소비 데이터고객 결합 생활소비 데이터</p>
                            <p class="desc">국내 오픈마켓 디지털가전(광학기기) 분야 온라인스토어 판매 동향</p>
                            <p class="etc"><span class="partner">BC카드</span><span class="date">2025.05.09</span></p>
                            <p class="price"><i class="num">2,860,000,000,000</i>원</p>
                            <div class="tag-list">
                                <p class="data-tag">
                                    <span class="tag red">#분야</span>
                                    <span class="tag red">#분야</span>
                                    <span class="tag blue">#사용목적</span>
                                    <span class="tag blue">#사용목적</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
		        <div class="loading">
                    <i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}