{%- extends "_templates/_layout.njk" -%}

{% block content %}
<div class="content page-search">
    <p class="title3"><strong>회원</strong>에 대한 총 <strong>75</strong>건의 검색결과가 있어요.</p>
    <div class="input-box">
        <input type="text" class="ipt" placeholder="무슨 데이터가 필요하세요?" value="회원">
        <span class="util-box">
            <button class="ipt-clear">내용 지우기</button>
            <button type="button" class="ipt-search"><i>검색</i></button>
        </span>
    </div>
    <div class="search-content">
        <div class="contents-filter">
            <div class="chip-box count">
                <label class="chip"><input type="radio" name="radio1"><i>전체<em>75</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>데이터마켓<em>17</em></i></label>
                <label class="chip"><input type="radio" name="radio1" checked=""><i>AI인사이트<em>16</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>데이터경진대회<em>15</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>공지사항<em>14</em></i></label>
                <label class="chip"><input type="radio" name="radio1"><i>FAQ<em>13</em></i></label>
            </div>
        </div>

        <div class="search-wrap">
            <div class="contents-summary">
                <h2 class="title">AI 인사이트 <strong>16</strong></h2>
            </div>
            <div class="contents-list-wrap">
                <ul class="contents-list">
                    
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title"><strong>회원</strong>이 말해주는 요즘 트렌드.zip</p>
                                <p class="date">4일전</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">커피는 줄었고 <strong>회원</strong>은 늘었다.</p>
                                <p class="date">5일전</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">이번 주 소비 밸런스 게임 : <strong>회원</strong> 택시 vs 배달</p>
                                <p class="date">6일전</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="ai-content">
                            <p class="image"><img src="../images/dummy-aiinsight.png" alt="이미지"></p>
                            <div class="info-box">
                                <p class="insight-tag">
                                    <span class="tag">생활/문화</span>
                                </p>
                                <p class="title">숨겨진 소비 패턴, AI가 콕 <strong>회원</strong> 집어드림</p>
                                <p class="date">2025.07.02</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="loading">
                <i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i>
            </div>
        </div>
        
    </div>
</div>
{%- endblock %}