{%- extends "_templates/_layout.njk" -%}

{% block content %}
{{ include( "_html/_UT05030401.njk" ) }}
{%- endblock %}

{% block modal %}
<!-- [2025.07.29 모달팝업 변경] -->
<div class="pop-modal modal-hidden" id="modal_1">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>정말 삭제하시겠어요?<br> 삭제된 문의 내역은 복구할 수 없습니다.</p>
        </div>
        <div class="button-box-medium col-3">
            <button class="button-q" type="button">아니요</button>
            <button class="button-p close-modal" type="button">삭제</button>
        </div>
    </div>
</div>

<!-- 퍼블리싱 확인 -->
<div class="modal-test">
    <div class="button-box-xsmall"> 
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modal_1');return false;">[삭제]</a>
        <a href="#" class="button-q" onclick=" fn_toast('삭제되었습니다',1);return false;">[삭제] 토스트팝업</a>
    </div> 
</div>
<!-- //퍼블리싱 확인 -->
<!-- //[2025.07.29 모달팝업 변경] -->
{%- endblock %}