{%- extends "_templates/_layout.njk" -%}

{% block content %}
{{ include( "_html/_UT05010402.njk" ) }}
{%- endblock %}

{% block modal %}
<div class="pop-modal modal-hidden" id="modalPhoneNum">
    <div class="modal modal-medium2" tabindex="0">
        <div class="modal-header">휴대폰번호 변경하기</div>
        <div class="modal-content">
            <div class="formbox">
                <form>
                    <label for="" class="input-title">휴대폰 번호</label>
                    <div class="input-box">
		                <input type="text" placeholder="휴대폰번호 입력" name="phone">
		                <span class="util-box button-box-xsmall">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                    <a href="#" type="button" class="button-t disabled">인증번호 전송</a>
		                </span>
		            </div>
                    <div class="input-box">
		                <input type="text" placeholder="휴대폰번호 입력" name="phone" value="01012345678">
		                <span class="util-box button-box-xsmall">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                    <a href="#" type="button" class="button-t">인증번호 전송</a>
		                </span>
		            </div>
                    <div class="input-box">
		                <input type="text" placeholder="휴대폰번호 입력" name="phone1" value="01012345678">
		                <span class="util-box button-box-xsmall">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                    <a href="#" type="button" class="button-t">재전송</a>
		                </span>
		            </div>
                    <div class="input-box">
		                <input type="text" placeholder="휴대폰번호 입력" name="phone2" disabled="" value="01012345678">
		                <span class="util-box button-box-xsmall">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                    <a href="#" type="button" class="button-t disabled">재전송</a>
		                </span>
		            </div>

                    <label for="passnum" class="input-title">인증번호</label>
                    <div class="input-box">
		                <input type="text" placeholder="숫자 6자리 입력" name="passnum" maxlength="6">
		                <span class="util-box">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                </span>
		            </div>
                    <div class="input-box">
		                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6">
		                <span class="util-box">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                    <strong class="ipt-count">02:59</strong>
		                </span>
		            </div>
                    <div class="input-box is-error">
		                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6">
		                <span class="util-box">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                    <strong class="ipt-count">02:59</strong>
		                </span>
		            </div>
                    <div class="input-box">
		                <input type="text" placeholder="숫자 6자리 입력" name="passnum" value="123456" maxlength="6" disabled="">
		                <span class="util-box">
		                    <a href="#" class="ipt-clear">내용 지우기</a>
		                </span>
		            </div>
                    <p class="input-help is-error">인증번호를 입력해주세요.</p>
                    <p class="input-help is-error">인증번호 6자리를 입력해주세요.</p>
                    <p class="input-help is-error">인증시간이 초과했습니다. 다시 전송 후 진행해주세요.</p>
                </form>
            </div>    
        </div>
        <div class="button-box-medium">
            <button class="button-q" type="button">취소하기</button>
            <button class="button-p" type="button">변경하기</button>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>

<div class="pop-modal modal-hidden" id="modalPassword">
    <div class="modal modal-medium2" tabindex="0">
        <div class="modal-header">비밀번호 변경하기</div>
        <div class="modal-content">
            <div class="formbox">
                <form>
                    <label for="" class="input-title">기존 비밀번호</label>
                    <div class="input-box">
		                <input type="password" placeholder="기존 비밀번호 입력" name="password">
		                <span class="util-box">
		                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
		                </span>
		            </div>
                    <div class="input-box is-error">
		                <input type="password" placeholder="기존 비밀번호 입력" name="password">
		                <span class="util-box">
		                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
		                </span>
		            </div>
                    <p class="input-help is-error">기존 비밀번호가 올바르지 않아요.</p>

                    <label for="" class="input-title">새 비밀번호</label>
                    <div class="input-box">
		                <input type="password" placeholder="새 비밀번호 입력" name="password">
		                <span class="util-box">
		                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
		                </span>
		            </div>
                    <p class="input-help">비밀번호는 영문/숫자/특수문자를 조합하여 8자 이상으로 입력해주세요.</p>
                    <p class="input-help is-error">비밀번호는 영문/숫자/특수문자를 조합하여 8자 이상으로 입력해주세요.</p>
                    <p class="input-help is-error">비밀번호를 입력해주세요.</p>

                    <label for="" class="input-title">새 비밀번호 확인</label>
                    <div class="input-box">
		                <input type="password" placeholder="새 비밀번호 재입력" name="password">
		                <span class="util-box">
		                    <a href="#" type="button" class="ipt-mask"><i>비밀번호 보기</i></a>
		                </span>
		            </div>
                    <p class="input-help is-error">비밀번호를 한번 더 입력해주세요.</p>
                    <p class="input-help is-error">입력하신 비밀번호와 일치하지 않습니다.</p>
                </form>
            </div>
        </div>
        <div class="button-box-medium">
            <button class="button-q" type="button">취소하기</button>
            <button class="button-p" type="button">변경하기</button>
        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>

<div class="pop-modal modal-hidden" id="modalDataTerm">
    <div class="modal modal-large" tabindex="0">
        <div class="modal-header">데이터 공급 기본계약서</div>
        <div class="modal-content">
            <div class="modal-data-info termstyle1">
                <dl class="info">
                    <dt>계약명</dt>
                    <dd>데이터 공급 기본 계약</dd>
                </dl>
                <dl class="info">
                    <dt>계약번호</dt>
                    <dd>FNBIGDATA-2025-0016249</dd>
                </dl>
                <dl class="info">
                    <dt>데이터 이용기간</dt>
                    <dd>금융 빅데이터 플랫폼에서 제공하는 데이터별 이용기간에 따름</dd>
                </dl>
                <dl class="info">
                    <dt>데이터 이용목적</dt>
                    <dd><span class="t-red">해당 항목은 구매/다운로드 시 별도로 선택하므로 입력 불가</span></dd>
                </dl>
                <dl class="info">
                    <dt>계약금액</dt>
                    <dd>금융 빅데이터 플랫폼에서 제공하는 데이터별 가격에 따름</dd>
                </dl>
                <dl class="info">
                    <dt>제공 데이터</dt>
                    <dd>구매자가 이용 및 다운로드 한 모든 유/무료 데이터 일체</dd>
                </dl>
                <dl class="info">
                    <dt>대금결제 조건 및 데이터 공급</dt>
                    <dd>
                        <ul class="list-bul">
                            <li class="t-align-left"><i class="mark">·</i>무료 데이터 : 즉시 조회, 이용, 다운로드 가능</li>
                            <li class="t-align-left"><i class="mark">·</i>유료 데이터 : 대금 결제 후 즉시 조회, 이용, 다운로드 가능* 단, 구매자가 신규 데이터를 요청한 경우 별도 협의에 따름</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="info">
                    <dt>첨부서류</dt>
                    <dd>계약 일반조건 1부</dd>
                </dl>
            </div>

                제 1 조 (목적)
                <p>본 계약의 목적은 비씨카드주식회사(이하 ”공급자”라 함)가 금융 빅데이터 플랫폼 회원(이하 “구매자”라 함)에게 비식별화된 데이터(이하 “데이터”이라 함)를 공급하는데 있어서 필요한 제반 사항을 정하는 데 있다.</p>
                제 2 조 (공급내용 및 범위)
                <p>“공급자”가 “구매자”에게 공급하는 “데이터”에 대한 구체적인 내용 및 범위, 공급방법 등은 “계약 기본사항”을 기준으로 한다.</p>
                제 3 조 (각 당사자의 역할)
                <p>“공급자”와 “구매자”는 본 계약의 수행 또는 이와 관련하여 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「개인정보보호법」, 「신용정보의 이용 및 보호에 관한 법률」 등 관련법규를 준수하여야 한다.</p>
                제 4 조 (지식재산권 및 사용권한)
                <ul class="list-circle-num">
                    <li><i class="mark">①</i>“공급자”가 “구매자”에게 공급한 “데이터”에 대한 지식재산권은 “공급자”에게 있으며, “구매자”는 “계약 기본사항”의 “데이터 이용기간” 동안 비독점적이고, 제한적인 사용권한 (계약 기본사항의 “데이터 이용목적” 내 사용)을 갖는다.</li>
                    <li><i class="mark">②</i>“공급자”는 “데이터”가 제3자의 지식재산권을 침해하지 않는다는 것을 보장하며, 이와 관련하여 제3자와 분쟁이 발생하는 경우 자신의 비용과 책임으로 “구매자”를 면책시키고 분쟁을 해결하여야 하며, 이로 인하여 “구매자”에게 발생한 손해를 배상하여야 한다.</li>
                </ul>

                
                제 5 조 (손해배상)
                <ul class="list-circle-num">
                    <li><i class="mark">①</i>“공급자”와 “구매자”는 고의 또는 과실로 인하여 상대방에게 손해가 발생된 경우 손해를 배상한다.</li>
                    <li><i class="mark">②</i>“구매자”와 “공급자”는 천재지변, 국가비상사태, 정부의 조치, 법원의 명령, 기타 “구매자” 또는 “공급자”의 지배범위 밖의 사유로 인하여 상대방 및 제3자에게 발생시킨 손해에 대하여 책임지지 아니한다.</li>
                </ul>

                


                제 6 조 (양도금지)
                <p>“구매자”와 “공급자”는 상대방의 사전 서면동의가 없는 한 본 계약상의 권리 의무의 전부 또는 일부를 양도, 증여, 또는 위탁할 수 없으며, 담보제공 등의 목적으로 이용할 수 없다. </p>
                제 7 조 (관할법원)
                <ul class="list-circle-num">
                    <li><i class="mark">①</i>”구매자”와 “공급자”는 본 계약에 명시되지 아니한 사항 또는 계약 해석에 다툼이 있는 경우에는 상호 합의하여 결정하되, 합의가 성립되지 아니한 경우에는 일반관행 또는 관계법령에 따른다.</li>
                    <li><i class="mark">②</i>본 계약과 관련된 소송의 관할법원은 민사소송법이 정한 바에 따른다.</li>
                </ul>
                <p>본 계약 작성 및 체결의 증거로서 본 계약서를 작성하여 보관한다.</p>
                <p>'구매자'와 '공급자'는 본 '계약 기본사항'과 첨부서류에 의거하여 계약을 체결하고 신의에 따라 성실히 계약상의 의무를 이행할 것을 확약하며, 이 계약의 증거로서 본 계약서를 작성하여 보관한다.</p>


        </div>
        <button type="button" class="modal-close">닫기</button>
    </div>
</div>

<div class="pop-modal modal-hidden" id="modal_0">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>비밀번호가 일치하지 않습니다.</p>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
    </div>
</div>
<div class="pop-modal modal-hidden" id="modal_1">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>관리자가 기입한 반려 사유 출력</p>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
    </div>
</div>
<div class="pop-modal modal-hidden" id="modal_2">
    <div class="modal" tabindex="0">
        <div class="message-box">
            <p>데이터 파트너로 등록된 상태에서는 기업 변경이 불가합니다. 관리자에게 문의해주세요.</p>
        </div>
        <div class="button-box-medium">
            <button class="button-p" type="button">확인</button>
        </div>
    </div>
</div>

<!-- 퍼블리싱 확인 -->
<div class="modal-test">
    <div class="button-box-xsmall">
        <a href="#" class="button-s" onclick="fn_modalPopOpen('modal_0');return false;">개인정보수정 > 비밀번호 불일치</a>
        <a href="#" class="button-s" onclick="fn_modalPopOpen('modal_1');return false;">(반려) 기업명</a>
        <a href="#" class="button-s" onclick="fn_modalPopOpen('modal_2');return false;">기업명 [변경하기] > 데이터파트너로 등록 되어 있을 경우</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modalPhoneNum');return false;">휴대폰번호 변경하기</a>
        <a href="#" class="button-q" onclick="fn_toast('인증번호를 발송햇어요.',1);return false;">휴대폰번호 변경하기 > [인증번호 받기] 토스트팝업</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modalPassword');return false;">비밀번호 변경하기</a>
        <a href="#" class="button-q" onclick="fn_toast('비밀번호 변경에 실패했어요.',2);return false;">비밀번호 변경하기 > [변경하기] > 기존 비밀번호 불일치==비밀번호 변경실패 토스트팝업</a>
        <a href="#" class="button-q" onclick="fn_toast('휴대폰번호가 변경되었어요.',1);return false;">휴대폰번호 변경하기 > [변경하기] 토스트팝업</a>
        <a href="#" class="button-q" onclick="fn_toast('비밀번호가 변경 되었어요.',1);return false;">비밀번호 변경하기 > [변경하기] 토스트팝업</a>
        <a href="#" class="button-p" onclick="fn_modalPopOpen('modalDataTerm', true);return false;">데이터 공급 기본계약서</a>
    </div> 
</div>
<!-- //퍼블리싱 확인 -->
{%- endblock %}