<header class="header">
  <nav class="is-pc">
    <a href="#" class="icon-search">통합검색</a><!-- MAIN -->
    <a href="#" class="icon-history">히스토리</a><!-- MAIN & 로그인 -->
    <a href="#" class="icon-cart">장바구니</a><!-- MAIN & 로그인 -->
    <a href="#" class="icon-mypage">마이페이지</a>
    <a href="#" class="icon-login">로그인</a>
    <a href="#" class="icon-logout">로그아웃</a>
  </nav>
  <nav class="is-mobile">
    <a href="#" class="icon-home">메인으로</a>
    <a href="#" class="icon-menu">메뉴보기</a>
  </nav>
</header>
<!-- // header -->  