<aside class="aside">    
    <nav class="navigation">
        <div class="main-nav">
            <div class="util-menu">
                <a href="#" class="icon-home">메인으로</a>
                <a href="#" class="icon-menufold">메뉴접기</a>
                <a href="#" class="icon-aisearch">AI 검색하기</a>
            </div>
            <ul class="dep0">
                <li><a href="#">AI검색</a></li>
                <li><a href="#">AI인사이트</a></li>
                <li><a href="#">데이터폴리오</a></li>
                <li><a href="#">데이터마켓</a></li>
            </ul>
            <ul class="guidance-menu">
                <li><a href="#">상권분석서비스</a></li>
                <li><a href="#">데이터경진대회</a></li>
                <li>
                    <a href="#" target="_blank">이용안내<i class="icon-extlink">새창</i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 이용안내 메뉴 -->
        <!-- <div class="guidance-nav">
            <div class="util-menu">
                <a href="#" class="icon-home">메인으로</a>
            </div>
            <ul class="dep0">
                <li><a href="#">플랫폼 소개</a>
                    <ul class="dep1">
                        <li><a href="#">금융 빅데이터 플랫폼 소개</a></li>
                        <li><a href="#">제공기관 안내</a></li>
                    </ul>
                </li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
        </div> -->
        <!-- //이용안내 메뉴 -->
    </nav>
    <footer class="footer">
        <div>
            <div class="copyright">
                <p>서울시 중구 을지로 170 비씨카드(주) 대표이사 최원석</p>
                <span>사업자번호 214-81-37726</span><br class="mo">
                <span>통신판매업 신고번호 제2019-서울중구-2167호</span>
            </div>

            <div class="site">
                <button class="">관련사이트</button>
                <div class="site-layer">
                    <dl>
                        <dt>후원기관</dt>
                        <dd><a href="https://www.msit.go.kr" target="_blank" title="새창이동">과학기술정보통신부</a></dd>
                        <dd><a href="https://www.nia.or.kr" target="_blank" title="새창이동">NIA한국지능정보사회진흥원</a></dd>
                    </dl>
                    <dl>
                        <dt>데이터제공기관</dt>
                        <dd><a href="http://www.bccard.com" target="_blank" title="새창이동">BC카드</a></dd>
                        <dd><a href="https://www.kapanet.or.kr" target="_blank" title="새창이동">한국감정평가사협회</a></dd>
                        <dd><a href="https://innofin.co.kr/" target="_blank" title="새창이동">이노핀</a></dd>
                        <dd><a href="https://www.kt.com" target="_blank" title="새창이동">KT</a></dd>
                        <dd><a href="https://www.habitfactory.co" target="_blank" title="새창이동">해빗팩토리</a></dd>
                        <dd><a href="https://www.vaiv.kr/" target="_blank" title="새창이동">바이브컴퍼니</a></dd>
                        <dd><a href="https://www.nota.ai/" target="_blank" title="새창이동">NOTA</a></dd>
                        <!-- <dd><a href="https://www.mangoplate.com" target="_blank" title="새창이동">여기어때컴퍼니</a></dd> -->
                        <dd><a href="http://www.kwic.co.kr/" target="_blank" title="새창이동">기웅정보통신</a></dd>
                        <dd><a href="https://www.nielsen.com" target="_blank" title="새창이동">닐슨코리아</a></dd>
                        <dd><a href="https://www.quarterback.co.kr/" target="_blank" title="새창이동">한국금융솔루션</a></dd>
                        <dd><a href="https://www.connexioh.net/kr" target="_blank" title="새창이동">코넥시오에이치</a></dd>
                    </dl>
                    <dl>
                        <dt>참여기관</dt>
                        <dd><a href="http://airi.kr" target="_blank" title="새창이동">인공지능연구원</a></dd>
                        <dd><a href="http://www.nicezinidata.co.kr" target="_blank" title="새창이동">NICE지니데이타</a></dd>
                        <dd><a href="http://www.korea.ac.kr" target="_blank" title="새창이동">고려대학교빅데이터융합사업단</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </footer>
</aside>